.article-media{
  padding: 0 0 20px;
  .sidepane{
    h2{
      margin-top:0;
      font-stretch: normal;
      font-style: normal;
      font-weight: normal;
      .title-main{
        color: $colorAlt;
        font-size: 24px;
        display:block;
        line-height:1.5;
      }
      .title-sub{
        color: $colorBlack;
        font-size: 18px;
        line-height:1;
        display:block;
      }
    }
    .category-items{
      list-style: none;
      padding:0;
      li{
        font-size: 16px;
        line-height: 28px;
        a{
          color: $colorAlt;
          background: url(../images/bull.gif) no-repeat 0 8px;
          padding: 0 0 0 15px;
          &.active{
            color: #666666;
            background: url(../images/bull-1.gif) no-repeat 0 8px;
          }
        }
      }
    }
  }
  .canvas{
    /*
    webkit-transition: all $menuAnimSpeed ease-out;
         -o-transition: all $menuAnimSpeed ease-out;
            transition: all $menuAnimSpeed ease-out;
            */
    overflow:hidden;
    margin:0;
    padding:0;
    opacity:1;
    .tab-content{
      min-height:150px;
      .tab-pane{
        .owl-carousel{
          .owl-nav{
            display:none;
          }
          .owl-stage-outer{
            .owl-stage{
              .owl-item{
                img{
                  height: auto;
                }
                figure{
                  position:relative;
                  &.vid-youtube{
                    .video-wrapper{
                      &:before{
                        content:"";
                        position: absolute;
                        width: 100%;
                        height: 40%;
                        top: 0px;
                        left: 0px;
                        opacity:0;
                        z-index: 1;
                      }
                      &:after{
                        content:"";
                        position: absolute;
                        width: 100%;
                        height: 40%;
                        bottom: 0%;
                        left: 0px;
                        opacity:0;
                        z-index: 1;
                      }
                    }
                  }
                  a{
                    &.video-play{
                      position:absolute;
                      width:50px;
                      height:50px;
                      background-image: url(../images/video_play_button-red.png);
                      top:50%;
                      left:50%;
                      margin-left: -25px;
                      margin-top: -25px;
                    }
                  }
                  /*
                  .video-wrapper {
                    position: relative;
                    padding-bottom: 56.25%;
                    padding-top: 25px;
                    height: 0;
                    margin: 20px 0px;
                    iframe{
                      position: absolute;
                      top: 0;
                      left: 0;
                      width: 100%;
                      height: 100%;
                    }
                  }
                  */
                }
              }
            }
          }
        }
        .owl-panel{
          font-size: 18px;
          line-height: 40px;
          height: 40px;
          position:relative;
          display: block;
              pointer-events: none;
          .tab-name{
            position: absolute;
            right: 40px;
            top: 0px;
          }
          .range{
            position: absolute;
            left: 0px;
            top: 0px;
            .ind{

            }
            .tot{

            }
          }
        }
      }
    }
  }
  &.active{
    .canvas{
      opacity:0.4;
    }
  }
}


.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  margin: 20px 0px;
  iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
