.article-content{
  padding: 0 0 20px;
  .column{
    color: $colorGray;
    padding-left: 10px;
    padding-right: 10px;
    .block{
      display: block;
      border-bottom: 1px solid #323232;
      &--banner{
        border-bottom: none;
        figure{
          margin: 0;
          padding: 0;
          overflow: hidden;
          position: relative;
          margin-bottom: 20px;
          img{
            margin-left:50%;
            transform: translateX(-50%);
          }
        }
        @include respond-to(desktop){
          figure{
            img{
              width:100%;
              height:auto;
            }
          }
        }
      }
      &--heading{
        border-top: 6px solid #d7d7d2;
        padding: 10px 0 20px;
        color: $colorBlack;
        h1, h2, h3{
          margin: 0;
          font-size: 44px;
          font-weight: normal;
          p{
            margin:0;
          }
        }
        h1{
          word-break : break-all;
          -webkit-hyphens: auto;
           -moz-hyphens: auto;
            -ms-hyphens: auto;
                hyphens: auto;
        }
        @include respond-to(phones){
          h1,h2,h3{
            font-size: 38px;
          }
        }
      }
      &--statement{
        padding: 20px 0 0px;
        p{
          font-size: 22px;
          line-height: 26px;
          margin:0;
          margin-bottom: 26px;
        }
      }
      &--body{
        padding: 20px 0 14px;
        img{
          width: 100%;
          height: auto;
        }
        p{
          font-size: 18px;
          line-height: 22px;
          margin:0;
          margin-bottom: 15px;
          span{
            &.red{
              color: $colorAlt;
            }
          }
          &.BigRed{
            font-size: 22px;
            font-stretch: normal;
            font-style: italic;
            font-variant: normal;
            font-weight: normal;
            line-height: 28px;
            color: $colorAlt;
          }
        }
      }
      &--fact{
        border-style: none none dotted none;
      }
      &:last-child{
        border-bottom: none;
      }

    }
    &--aside{
      .block{
        &--fact{
          padding: 14px 0 12px;
          .holder{
            h4{
              margin: 0;
              padding: 0 0 5px;
              color: $colorAlt;
              p{
                margin: 0;
                font-size: 16px;
              }
            }
            >div{
              p{
                margin: 0;
              }
            }
          }
        }
        &--generic{
          font-size: 14px;
          padding: 13px 0 0;
          p{
            margin: 0;
          }
        }
        &--heading{
          padding: 11px 0 12px 0px;
          h1, h2, h3{
            font-size: 18px;
          }
        }
        &--list{
          display:block;
          list-style:none;
          padding:0;
          li{
            font-size: 18px;
            overflow: hidden;
            width: 100%;
            vertical-align: middle;
            margin: 0 0 7px;
            a{
              color: #323232;
              width: 100%;
              line-height: 1.2;
              background: url(../images/separator1.gif) repeat-x 0 100%;
              float: left;
              padding: 5px 0 13px;
              &.active{
                color: #cc0033;
                text-decoration: none;
                &.has-children{
                  background: none;
                  padding: 5px 0 2px;
                }
              }
              &:hover{
                color: #cc0033;
              }
            }
            >ul{
              clear: both;
              list-style: none;
              overflow: hidden;
              height: 1%;
              background: url(../images/separator1.gif) repeat-x 0 100%;
              margin: 0;
              padding: 2px 0 9px;
              li{
                font-size: 16px;
                margin: 0 0 2px 17px;
                padding: 0;
                a{
                  width: 199px;
                  font-size: 16px;
                  color: #646464;
                  background: url(../images/bull-1.gif) no-repeat 0 12px;
                  margin: 0;
                  padding: 3px 0 3px 16px !important;
                  &.active, &:hover{
                    color: #cc0033;
                    background: url(../images/bull.gif) no-repeat 0 12px;
                  }
                }
              }
            }
          }
        }
      }
    }
    &--manuscript{

    }
    &--facts{

    }
    &--about{

    }
    &--sidelist{

    }
  }
}
