
.head{
  background-color: white;
  height: $headHyt;
  border-bottom: 1px solid #000;
  position: fixed;
  z-index: 10;
  width: 100%;
  .topbar{
    .brand{
      line-height: $headHyt;
      height: $headHyt;
      img{
        margin: 0 15px;
        height: $headHyt - 30 ;
        width: auto;
        vertical-align: middle;
      }
    }
    .burger{
      line-height: $headHyt;
      height: $headHyt;
      position:relative;
      .icon{
        display: inline;
        vertical-align: middle;
        position:relative;
        width: $headHyt - $widDiff;
        height: $headHyt - $widDiff;
        margin:0 15px;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        span{
          position:absolute;
          width: 100%;
          height: $lineHyt;
          background-color: black;
          border-radius: 4px;
          transition: top  $menuAnimSpeed, left  $menuAnimSpeed, transform $menuAnimSpeed, opacity $menuAnimSpeed;
          -webkit-transition: top  $menuAnimSpeed, left  $menuAnimSpeed, -webkit-transform $menuAnimSpeed, opacity $menuAnimSpeed;
          -webkit-transition-timing-function: ease-in-out; /* Safari and Chrome */
          transition-timing-function: ease-in-out;
          &.line-top{
            top: 0;
            left:0;
            transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
          }
          &.line-mid{
            top:50%;
            margin-top: -($lineHyt/2);
            left:0;
            opacity:1;
            transform: rotate(0deg), scale(1);
            -webkit-transform: rotate(0deg),  scale(1);
          }
          &.line-bot{
            top: ($headHyt - $widDiff) - ($lineHyt);
            left:0;
            transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
          }
        }
        &.open{
          span{
            &.line-top{
              transform: rotate(315deg);
              -webkit-transform: rotate(315deg);
              top: 50%;
            }
            &.line-mid{
              transform: rotate(45deg);
              -webkit-transform: rotate(45deg);
              left: 0%;
              top:50%;
              opacity:0;
            }
            &.line-bot{
              transform: rotate(-315deg);
              -webkit-transform: rotate(-315deg);
              top: 50%;
            }
          }
        }
      }
    }
  }
  .nav-menu{
    position: absolute;
    top:$headHyt;
    width: 50%;
    z-index:0;
    .menu{
      list-style:none;
      padding-left: 15px !important;
      padding-right: 15px !important;
      padding-top: 15px;
      padding-bottom: 15px;
      li{
        font-size: 18px;
        overflow: hidden;
        width: 100%;
        vertical-align: middle;
        margin: 0 0 7px;
        a{
          color: #323232;
          width: 100%;
          line-height: 1.2;
          background: url(../images/separator1.gif) repeat-x 0 100%;
          float: left;
          padding: 5px 0 13px;
          &.active{
            color: #cc0033;
            text-decoration: none;
            &.has-children{
              background: none;
              padding: 5px 0 2px;
            }
          }
          &:hover{
            color: #cc0033;
          }
        }
        >ul{
          clear: both;
          list-style: none;
          overflow: hidden;
          height: 1%;
          background: url(../images/separator1.gif) repeat-x 0 100%;
          margin: 0;
          padding: 2px 0 9px;
          li{
            font-size: 16px;
            margin: 0 0 2px 17px;
            padding: 0;
            a{
              width: 199px;
              font-size: 16px;
              color: #646464;
              background: url(../images/bull-1.gif) no-repeat 0 12px;
              margin: 0;
              padding: 3px 0 3px 16px !important;
              &.active, &:hover{
                color: #cc0033;
                background: url(../images/bull.gif) no-repeat 0 12px;
              }
            }
          }
        }
      }
    }
  }
}
