@@include('../responsive/doc-top.html', {"title" : "Case"})
@@include('../responsive/page-head.html')

        <!--
        <div class="content container-fluid">
          <ul class="owl-carousel cases row">
            <li class="col-sm-6">
              <a href="">
                <figure>
                  <img src="images/case-overview-danfoss.jpg" alt="danfoss">
                </figure>
                <h2>Danfoss</h2>
                <p>Global thinking forward</p>
              </a>
            </li>
            <li class="col-sm-6">
              <a href="">
                <figure>
                  <img src="images/case-overview-avia.jpg" alt="AVIA">
                </figure>
                <h2>AVIA</h2>
                <p>Rooted local, involved internationally</p>
              </a>
            </li>
            <li class="col-sm-6">
              <a href="">
                <figure>
                <img src="images/case-overview-reckitt.jpg" alt="reckitt benckiser">
              </figure>
                <h2>Reckitt Benckiser </h2>
                <p>New social media strategy for five brands</p>
              </a>
            </li>
            <li class="col-sm-6">
              <a href="">
                <figure>
                <img src="images/case-overview-dnvgl.jpg" alt="DNV GL">
              </figure>
                <h2>DNV GL</h2>
                <p>Tells Technical topics emotionally</p>
              </a>
            </li>
            <li class="col-sm-6">
              <a href="">
                <figure>
                <img src="images/case-overview-foetex.jpg" alt="føtex">
              </figure>
                <h2>DNV GL</h2>
                <p>New Position</p>
              </a>
            </li>
            <li class="col-sm-6">
              <a href="">
                <figure>
                <img src="images/case-overview-bosch-rexroth.jpg" alt="Bosch Rexroth">
              </figure>
                <h2>Bosch Rexroth</h2>
                <p>Brutal successfully with new engines</p>
              </a>
            </li>
            <li class="col-sm-6">
              <a href="">
                <figure>
                <img src="images/case-overview-bosch-rexroth-2.jpg" alt="Bosch Rexroth 2">
              </figure>
                <h2>Bosch Rexroth</h2>
                <p>Pioneered the industry 4.0</p>
              </a>
            </li>
            <li class="col-sm-6">
              <a href="">
                <figure>
                <img src="images/case-overview-vaillant.jpg" alt="Vaillant">
              </figure>
                <h2>Bosch Rexroth</h2>
                <p>After the fair is before the fair</p>
              </a>
            </li>
            <li class="col-sm-6">
              <a href="">
                <figure>
                <img src="images/case-overview-miele.jpg" alt="Miele Professional">
              </figure>
                <h2>Miele Professional</h2>
                <p>On behalf of the highest quality</p>
              </a>
            </li>
            <li class="col-sm-6">
              <a href="">
                <figure>
                <img src="images/case-overview-bosch-rexroth-2.jpg" alt="The Athlete's Foot">
              </figure>
                <h2>The Athlete's Foot</h2>
                <p>Sport with Style</p>
              </a>
            </li>
            <li class="col-sm-6">
              <a href="">
                <figure>
                <img src="images/case-overview-heroal.jpg" alt="heroal">
              </figure>
                <h2>Heroal</h2>
                <p>Easy. Better. Only good is not enough</p>
              </a>
            </li>
            <li class="col-sm-6">
              <a href="">
                <figure>
                <img src="images/case-overview-kieser.jpg" alt="Kieser Training">
              </figure>
                <h2>Kieser Training</h2>
                <p>Strong body - strong brand</p>
              </a>
            </li>
            <li class="col-sm-6">
              <a href="">
                <figure>
                <img src="images/case-overview-grundfos.jpg" alt="Grundfos">
              </figure>
                <h2>Grundfos</h2>
                <p>The real added value. New customers via Facebook</p>
              </a>
            </li>
            <li class="col-sm-6">
              <a href="">
                <figure>
                <img src="images/case-overview-sidel.jpg" alt="Sidel">
              </figure>
                <h2>Sidel</h2>
                <p>Keep the pole position confidently</p>
              </a>
            </li>
            <li class="col-sm-6">
              <a href="">
                <figure>
                <img src="images/case-overview-eilersen.jpg" alt="Eilersen">
              </figure>
                <h2>Eilersen</h2>
                <p>Quite relaxed growth</p>
              </a>
            </li>
          </ul>
        </div>
        <div class="foot row">
        </div>
      </div>
    -->
      <div class="content container-fluid">

        <div class="article-content row">
          <div class="column column--manuscript col-sm-12 col-lg-9 col-lg-push-3">
            <div class="block block--banner">
              <figure>
                <img src="images/historie.jpg">
              </figure>
            </div>
            <div class="block block--heading">
              <h1>Es war einmal…</h1>
            </div>
            <div class="block block--statement">
              <p>1988 nimmt die Geschichte ihren Anfang, in einem Keller nördlich von Kopenhagen.</p>
            </div>
            <div class="block block--body">
              <p>In den Jahren zuvor ist Jesper Kunde als Marketingchef bei
Tuborg angestellt, später als Vertriebs- und Marketingchef bei
Lauritz Knudsen. In beiden Unternehmen stellt er fest, dass die
Werbeagenturen, mit denen er zusammenarbeitet, es weder verstehen
noch als wichtig ansehen, sich in die Situation des jeweiligen
Unternehmens hineinzuversetzen - oder gar dessen Anforderungen
gerecht zu werden. Es findet viel zu wenig strategisches
Kräftemessen statt, und es wird mit zu vielen aus dem Zusammenhang
gerissenen kreativen Ideen gearbeitet.</p>

<p>Er beschließt, Kunde &amp; Co zu gründen, eine Agentur, die für
ihre Kunden Ergebnisse schaffen will, indem sie sich auf den
strategischen Rahmen konzentriert, bevor kreative Lösungen
ausgearbeitet werden. Er verwendet das Bild eines Hürdenlaufs zur
Illustration seiner Philosophie, dass Marketing sich nicht nur um
Kommunikation mit den Endverbrauchern dreht, sondern ganz im
Gegenteil eine Disziplin ist, welche die gesamte Wertekette eines
Unternehmens umfasst. Und hierdurch auch eine Reihe von Hürden
beinhaltet, die fehlerfrei passiert werden müssen, um ans Ziel zu
gelangen.</p>

<p>Der erste Berater bei Kunde &amp; Co ist Gaute Høgh, der die
Agentur zusammen mit Jesper Kunde in den nächsten 14 Jahren
leitet.</p>

<p class="BigRed"><span>"Ich war davon überzeugt, dass Marketing in
der Zukunft ein vorrangiges Managementwerkzeug werden würde. Die
Unternehmen, die das sahen, würden die zukünftigen Gewinner
sein."</span></p>

<p>- Jesper Kunde</p>

<p>Mehr lesen:<a href="/ueber-uns/geschichte/wachstum.aspx" title="Wachstum"><br>
 Wachstum</a>, <a href="/ueber-uns/geschichte/kunden.aspx" title="Kunden">Kunden</a>, <a href="/ueber-uns/geschichte/unternehmenskultur.aspx" title="Unternehmenskultur">Unternehmenskultur</a>, <a href="/ueber-uns/geschichte/buecher.aspx" title="Bücher">Bücher</a>.</p>
            </div>
          </div>
          <div class="column column--aside column--sidelist col-xs-12 col-sm-12 col-lg-3 col-lg-pull-9">

            <ul class="block block--list">
              <li>
                <a href="/ueber-uns/kompetenzen.aspx" class=" has-children">Kompetenzen</a>
              </li>
              <li>
                <a href="/ueber-uns/philosophie.aspx" class=" ">Philosophie</a>
              </li>
              <li>
                <a href="/ueber-uns/mission.aspx" class=" ">Mission</a>
              </li>
              <li>
                <a href="/ueber-uns/geschichte.aspx" class="active has-children">Geschichte</a>
                <ul>
                  <li>
                    <a href="/ueber-uns/geschichte/es-war-einmal….aspx" class="active">Es war einmal…</a>
                  </li>
                  <li>
                    <a href="/ueber-uns/geschichte/wachstum.aspx" class="">Wachstum</a>
                  </li>
                  <li>
                    <a href="/ueber-uns/geschichte/kunden.aspx" class="">Kunden</a>
                  </li>
                  <li>
                    <a href="/ueber-uns/geschichte/unternehmenskultur.aspx" class="">Unternehmenskultur</a>
                  </li>
                  <li>
                    <a href="/ueber-uns/geschichte/buecher.aspx" class="">Bücher</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="/ueber-uns/job-karriere.aspx" class=" has-children">Job &amp; Karriere</a>
              </li>
              <li>
                <a href="/ueber-uns/referenzen.aspx" class=" ">Referenzen</a>
              </li>
              <li>
                <a href="/ueber-uns/cookie-richtlinien-.aspx" class=" ">Cookie Richtlinien</a>
              </li>
              <li>
                <a href="/ueber-uns/nachrichten.aspx" class=" ">Nachrichten</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

@@include('../responsive/page-foot.html')
@@include('../responsive/doc-bot.html')
