@@include('../responsive/doc-top.html', {"title" : "Case"})
@@include('../responsive/page-head.html')

      <div class="content container-fluid">
        <div id="article-media" class="article-media row row-offcanvas row-offcanvas-right">
          <div class="sidepane col-xs-6 col-md-3 sidebar-offcanvas">
            <h2>
              <span class="title-main">Grundfos</span>
              <span class="title-sub">Demand More</span>
            </h2>

            <ul class="category-items" role="tablist">
              <li role="presentation" class="active"><a role="tab" data-toggle="tab" aria-controls="web" href="#web">Website</a></li>
              <li role="presentation"><a role="tab" data-toggle="tab" aria-controls="print" href="#print">Print</a></li>
              <li role="presentation"><a role="tab" data-toggle="tab" aria-controls="mobile" href="#mobile">Mobile</a></li>
              <li role="presentation"><a role="tab" data-toggle="tab" aria-controls="app" href="#app">App</a></li>
              <li role="presentation"><a role="tab" data-toggle="tab" aria-controls="film" href="#film">Film</a></li>
              <li role="presentation"><a role="tab" data-toggle="tab" aria-controls="film" href="#film">Test</a></li>
              <li role="presentation"><a role="tab" data-toggle="tab" aria-controls="film" href="#film">Dummy</a></li>
              <li role="presentation"><a role="tab" data-toggle="tab" aria-controls="film" href="#film">Null</a></li>
              <li role="presentation"><a role="tab" data-toggle="tab" aria-controls="film" href="#film">Fake</a></li>
            </ul>
          </div>
          <div class="canvas col-xs-12 col-lg-9">
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active" id="web">
                <div class="media-slides owl-carousel" data-text-prev="Forrige" data-text-next="Næste" data-text-title="Web">
                  <div>
                    <figure class="owl-lazy" data-src="images/742x-417_grundfos_1.png">
                      <img src="images/742x-417_grundfos_1.png" alt="website">
                    </figure>
                  </div>
                  <div>
                    <figure class="owl-lazy" data-src="images/News-image.jpg">
                      <img src="images/News-image.jpg" alt="">
                    </figure>
                  </div>
                  <!--
                  <div>
                    <figure>
                      <img src="http://img.youtube.com/vi/VFCyn-Skgo4/maxresdefault.jpg" alt="">
                      <a class="video-play video-popup-trigger-alt2" href="#thevideo"></a>
                    </figure>
                  </div>
                  <div>
                    <figure>
                      <img src="http://img.youtube.com/vi/VFCyn-Skgo4/maxresdefault.jpg" alt="">
                      <a class="video-play video-popup-trigger" href="https://www.youtube.com/watch?v=VFCyn-Skgo4?autoplay=1"></a>
                    </figure>
                  </div>
                  <div>
                    <figure>
                      <div class="video-wrapper">
                        <iframe width="420" height="315" src="https://www.youtube.com/embed/uFIn4eJ_4hY?autoplay=1" frameborder="0" allowfullscreen=""></iframe>
                      </div>
                    </figure>
                  </div>
                -->
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="print">
                <div class="media-slides owl-carousel" data-text-prev="Forrige" data-text-next="Næste"  data-text-title="Print">
                  <div>
                    <figure class="owl-lazy" data-src="images/742x-417_grundfos_2.png">
                      <img src="images/742x-417_grundfos_2.png" alt="">
                    </figure>
                  </div>
                  <div>
                    <figure class="owl-lazy" data-src="images/742x-417_grundfos_3.png">
                      <img src="images/742x-417_grundfos_3.png" alt="">
                    </figure>
                  </div>
                  <div>
                    <figure class="owl-lazy" data-src="images/742x-417_grundfos_4.png">
                      <img src="images/742x-417_grundfos_4.png" alt="">
                    </figure>
                  </div>
                  <div>
                    <figure class="owl-lazy" data-src="images/742x-417_grundfos_5.png">
                      <img src="images/742x-417_grundfos_5.png" alt="">
                    </figure>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="mobile">
                <div class="media-slides owl-carousel" data-text-prev="Forrige" data-text-next="Næste"  data-text-title="Mobile">
                  <div>
                    <figure class="owl-lazy" data-src="images/742x-417_grundfos_6.png">
                      <img src="images/742x-417_grundfos_6.png" alt="">
                    </figure>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="app">
                <div class="media-slides owl-carousel" data-text-prev="Forrige" data-text-next="Næste"  data-text-title="App">
                  <div>
                    <figure class="owl-lazy" data-src="images/742x-417_grundfos_7.png">
                      <img src="images/742x-417_grundfos_7.png" alt="">
                    </figure>
                  </div>
                  <div>
                    <figure class="owl-lazy" data-src="images/Grundfoss-Phone2.png">
                      <img src="images/Grundfoss-Phone2.png" alt="">
                    </figure>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="film">
                <div class="media-slides owl-carousel" data-text-prev="Forrige" data-text-next="Næste"  data-text-title="Film">
                  <!--
                  <div>
                    <figure>
                      <a style="width:200px;height:200px;" class="owl-video" href="https://www.youtube.com/watch?v=tFoUuFq3vHw"><img src="http://img.youtube.com/vi/tFoUuFq3vHw/maxresdefault.jpg" alt=""></a>.
                    </figure>
                  </div>
                  -->


                  <div>
                    <figure class="video vid-youtube">
                      <div class="video-wrapper">
                        <iframe class="embed embed-yt" width="420" height="315" src="https://www.youtube.com/embed/F-8FmLDG9BU?autoplay=0&enablejsapi=1&rel=0&showinfo=0&controls=0&playsinline=0&loop=1" frameborder="0" allowfullscreen=""></iframe>
                      </div>
                    </figure>
                  </div>
                  <div>
                    <figure class="owl-lazy" data-src="images/742x-417_grundfos_6.png">
                      <img src="images/742x-417_grundfos_6.png" alt="">
                    </figure>
                  </div>
                  <div>
                    <figure class="video vid-youtube">
                      <div class="video-wrapper">
                        <iframe class="embed embed-yt" width="420" height="315" src="https://www.youtube.com/embed/3Ls1rl_T9EU?autoplay=0&enablejsapi=1&rel=0&showinfo=0&controls=0&playsinline=0&loop=1" frameborder="0" allowfullscreen=""></iframe>
                      </div>
                    </figure>
                  </div>
                  <div>
                    <figure class="video vid-html5">
                      <video class="embed" width="100%" controls>
                        <source src="media/videos/sample.mp4" type="video/mp4">
                        <source src="media/videos/sample.ogg" type="video/ogg">
                        Your browser does not support HTML5 video.
                      </video>
                    </figure>
                  </div>
                  <div>
                    <figure class="video vid-vimeo">
                      <div class="video-wrapper">
                        <iframe class="embed embed-vm" src="https://player.vimeo.com/video/139461501?loop=1&title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                      </div>
                    </figure>
                  </div>


                  <!--
                  <div>
                    <figure>
                      <img src="http://img.youtube.com/vi/3Ls1rl_T9EU/maxresdefault.jpg" alt="">
                      <a class="video-play video-popup-trigger-alt" href="#thevideo"></a>
                      <div id="thevideo" class="white-popup mfp-hide">
                        <div class="video-wrapper">
  									      <iframe width="420" height="315" src="https://www.youtube.com/embed/3Ls1rl_T9EU?autoplay=1&rel=0&showinfo=0&controls=0;" frameborder="0" allowfullscreen=""></iframe>
                        </div>
                      </div>
                    </figure>
                  </div>
                  <div>
                    <figure>
                      <img src="images/grundfos-actnow-vid.png" alt="">
                      <a class="video-play video-popup-trigger-alt" href="#thevideo2"></a>
                      <div id="thevideo2" class="white-popup mfp-hide">
                        <div class="video-wrapper">
                          <iframe src="https://player.vimeo.com/video/13995894?autoplay=1&title=0&byline=0&portrait=0" width="500" height="375" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                      </div>
                    </figure>
                  </div>
                -->

                  <!--
                  <div>
                    <figure>
                      <img src="http://img.youtube.com/vi/VFCyn-Skgo4/maxresdefault.jpg" alt="">
                      <a class="video-play video-popup-trigger" href="https://www.youtube.com/watch?v=VFCyn-Skgo4?autoplay=1"></a>
                    </figure>
                  </div>
                -->


                <!--
                  <div>
                    <figure>
                      <img src="http://img.youtube.com/vi/VFCyn-Skgo4/maxresdefault.jpg" alt="">
                      <a class="video-play video-popup-trigger-alt2" href="#thevideo" data-video-id="VFCyn-Skgo4"></a>
                    </figure>
                  </div>
                  -->

                <!--
                  <div>
                    <figure>
                      <img src="http://img.youtube.com/vi/3Ls1rl_T9EU/maxresdefault.jpg" alt="">
                      <a class="video-play video-popup-trigger-alt" href="#thevideo1" data-video-id="v-3Ls1rl_T9EU"></a>
                      <div id="thevideo1" class="white-popup mfp-hide">
                        <div class="video-wrapper">
                          <iframe class="vid-yt v-3Ls1rl_T9EU" width="420" height="315" src="https://www.youtube.com/embed/3Ls1rl_T9EU?rel=0&showinfo=0&controls=0&autoplay=0" frameborder="0" allowfullscreen=""></iframe>
                        </div>
                      </div>
                    </figure>
                  </div>
                  <div>
                    <figure>
                      <img src="http://img.youtube.com/vi/F-8FmLDG9BU/maxresdefault.jpg" alt="">
                      <a class="video-play video-popup-trigger-alt" href="#thevideo2" data-video-id="v-F-8FmLDG9BU"></a>
                      <div id="thevideo2" class="white-popup mfp-hide">
                        <div class="video-wrapper">
                          <iframe class="vid-yt v-F-8FmLDG9BU" width="420" height="315" src="https://www.youtube.com/embed/F-8FmLDG9BU?rel=0&showinfo=0&controls=0&autoplay=0" frameborder="0" allowfullscreen=""></iframe>
                        </div>
                      </div>
                    </figure>
                  </div>
                -->
                </div>
              </div>
            </div>
            <img src="images/list-menu.png" alt="" role="button" class="" data-toggle="offcanvas" data-target="#article-media" width="30" height="30" style="float:right;margin-top:-35px;z-index:100;">
          </div>
        </div>

        <div class="article-content row">
          <div class="column column--manuscript col-sm-12 col-lg-6 col-lg-push-3">
            <div class="block block--heading">
              <h1>Grundfos forlanger mere</h1>
            </div>
            <div class="block block--statement">
              <p>Med ny global kampagne opfordrer Grundfos sine medarbejdere og kunder til at stillere højere krav. Målet er at forbedre cirkulationspumpen og styrke Grundfos' position som global markedsleder yderligere.</p>
            </div>
            <div class="block block--body">
              <p>Siden 1945 har Grundfos været pionér inden for pumpeløsninger, og i dag er virksomheden global markedsleder. For at fastholde sin ubestridte position er Grundfos dog nødt til hele tiden at forlange mere - af sig selv og af markedet. Samtidig investerer Grundfos massivt i forskning og udvikling, og på den måde skabes de bedste betingelser for banebrydende løsninger. Senest har det resulteret i &#8203;&#8203;tre nye produktinnovationer, som bliver bragt til markedet under den globale kampagneplatform "Demand More". Kampagnen er udviklet i samarbejde med Kunde &amp; Co, og er med til at underbygge den iboende innovationskraft hos Grundfos.</p>
              <p><span class="red">Interne og eksterne konsekvenser</span><br> De innovative pumpeløsninger blev fostret i et udviklingsprojekt kaldet "The Red Wolf Project", som var en udfordring til Grundfos om at "forlange mere" af sig selv som virksomhed. Internt resulterede det i en kontinuerlig jagt efter bedre måder at bygge pumper på med fokus på innovation og fordelagtige funktionaliteter på. Eksternt i en opfordring til målgrupperne om at udfordre markedet og Grundfos til at udvikle bedre cirkulationspumper med flere produktfordele. De burde stille krav om energieffektivitet, pålidelighed, bæredygtighed, intelligens og nem installation af pumperne.</p>
              <p><span class="red">Integreret kommunikation</span><br> Kampagnen, der er den største marketingsatsning i Grundfos' historie, integrerer en bred vifte af elementer, herunder events, PR, et website, enkelt- og dobbeltsidede annoncer, plakater, interne e-learning film, ekstern e-learning med Facebook Connect, integration med SAP, salgsværktøjer, dokumentarfilm, augmented reality, en app, et mobilsite og et internt kick-off. Det er første gang nogensinde, at det er lykkedes at integrere og tilpasse samtlige budskaber og elementer i marketingplanen, hvilket sikrer en omkostningseffektiv implementering på tværs af Grundfos' mange markeder.</p>
              <p><span class="red">100 procent tilmeldinger</span><br> Flere af kampagnens elementer er udviklet ved hjælp af de nyeste interaktive teknikker og funktioner. Det interne e-learning program er for eksempel specifikt målrettet 650 sælgere, som sammen med skuespiller Beate Bille medvirker i deres egen film. Efter bare én dag valgte 50 procent at skrive sig op til e-learning-programmet, og efter tre dage var der 100 procent involvering.</p>
              <p><span class="red">Danser med ulve</span><br> For at sikre en stærk lancering af "Demand More"-kampagnen blev der afholdt et internt kick-off i Berlin med "The Red Wolf Project" som kommunikativ overligger. På den første dag blev 400 interne Grundfos salgs-og marketingmedarbejdere introduceret til kampagnen og de nye produkter, og dagen efter fik 400 key accounts en 1-dags introduktion.</p>
              <p>En rød ulv, som symboliserer signaturfarven på Grundfos' cirkulationspumper og virksomhedens innovationskraft, blev brugt som omdrejningspunkt. Og for at skabe en intens atmosfære deltog derfor mere end 40 dansere klædt ud som røde ulve til kick-off.</p>
              <p>Begge deltagergrupper blev til kick-off gjort til en del af ulveflokken - morgendagens ledere. De røde ulve blev desuden brugt til at starte hele kommunikationen omkring Demand More-kampagnen, der siden har udviklet sig i en mere produktorienteret retning.</p>
            </div>
          </div>
          <div class="column column--aside column--facts col-xs-6 col-sm-6 col-lg-3 col-lg-pull-6">
            <div class="block block--heading">
    	        <h3><p>FAKTA</p></h3>
            </div>
            <div class="block block--fact">
              <div class="holder">
                <h4><p>Opgave</p></h4>
                <div>
	                <p></p><p>Fastholdelse af position som global markedsleder inden for energieffektive pumper.</p><p></p>
                </div>
              </div>
            </div>
            <div class="block block--fact">
                <div class="holder excl">
	                <h4><p>Løsning</p></h4>
	                <div>
		                <p></p><p>Udvikling af ”Demand More”-kampagne og det interne "Red Wolf Project”.</p><p></p>
	                </div>
                </div>
            </div>
            <div class="block block--fact">
                <div class="holder eql">
	                <h4><p>Resultat</p></h4>
	                <div>
		                <p></p><p>Vellykket intern og ekstern lancering og øjeblikkelig accept og implementering af kampagnen i 15 lande.</p><p></p>
	                </div>
                </div>
            </div>
          </div>
          <div class="column column--aside column--about col-xs-6 col-sm-6 col-lg-3">
            <div class="block block--heading">
    	        <h3><p>OM GRUNDFOS</p></h3>
            </div>
            <div class="block block--generic">
              <p>Grundfos er en af verdens højst rangerede producenter af pumper. Grundfos-koncernen dækker 82 selskaber i 45 lande.</p>
            </div>
          </div>
        </div>
      </div>

@@include('../responsive/page-foot.html')
@@include('../responsive/doc-bot.html')
