@@include('../responsive/doc-top.html', {"title" : "Case"})
@@include('../responsive/page-head.html')

        <!--
        <div class="content container-fluid">
          <ul class="owl-carousel cases row">
            <li class="col-sm-6">
              <a href="">
                <figure>
                  <img src="images/case-overview-danfoss.jpg" alt="danfoss">
                </figure>
                <h2>Danfoss</h2>
                <p>Global thinking forward</p>
              </a>
            </li>
            <li class="col-sm-6">
              <a href="">
                <figure>
                  <img src="images/case-overview-avia.jpg" alt="AVIA">
                </figure>
                <h2>AVIA</h2>
                <p>Rooted local, involved internationally</p>
              </a>
            </li>
            <li class="col-sm-6">
              <a href="">
                <figure>
                <img src="images/case-overview-reckitt.jpg" alt="reckitt benckiser">
              </figure>
                <h2>Reckitt Benckiser </h2>
                <p>New social media strategy for five brands</p>
              </a>
            </li>
            <li class="col-sm-6">
              <a href="">
                <figure>
                <img src="images/case-overview-dnvgl.jpg" alt="DNV GL">
              </figure>
                <h2>DNV GL</h2>
                <p>Tells Technical topics emotionally</p>
              </a>
            </li>
            <li class="col-sm-6">
              <a href="">
                <figure>
                <img src="images/case-overview-foetex.jpg" alt="føtex">
              </figure>
                <h2>DNV GL</h2>
                <p>New Position</p>
              </a>
            </li>
            <li class="col-sm-6">
              <a href="">
                <figure>
                <img src="images/case-overview-bosch-rexroth.jpg" alt="Bosch Rexroth">
              </figure>
                <h2>Bosch Rexroth</h2>
                <p>Brutal successfully with new engines</p>
              </a>
            </li>
            <li class="col-sm-6">
              <a href="">
                <figure>
                <img src="images/case-overview-bosch-rexroth-2.jpg" alt="Bosch Rexroth 2">
              </figure>
                <h2>Bosch Rexroth</h2>
                <p>Pioneered the industry 4.0</p>
              </a>
            </li>
            <li class="col-sm-6">
              <a href="">
                <figure>
                <img src="images/case-overview-vaillant.jpg" alt="Vaillant">
              </figure>
                <h2>Bosch Rexroth</h2>
                <p>After the fair is before the fair</p>
              </a>
            </li>
            <li class="col-sm-6">
              <a href="">
                <figure>
                <img src="images/case-overview-miele.jpg" alt="Miele Professional">
              </figure>
                <h2>Miele Professional</h2>
                <p>On behalf of the highest quality</p>
              </a>
            </li>
            <li class="col-sm-6">
              <a href="">
                <figure>
                <img src="images/case-overview-bosch-rexroth-2.jpg" alt="The Athlete's Foot">
              </figure>
                <h2>The Athlete's Foot</h2>
                <p>Sport with Style</p>
              </a>
            </li>
            <li class="col-sm-6">
              <a href="">
                <figure>
                <img src="images/case-overview-heroal.jpg" alt="heroal">
              </figure>
                <h2>Heroal</h2>
                <p>Easy. Better. Only good is not enough</p>
              </a>
            </li>
            <li class="col-sm-6">
              <a href="">
                <figure>
                <img src="images/case-overview-kieser.jpg" alt="Kieser Training">
              </figure>
                <h2>Kieser Training</h2>
                <p>Strong body - strong brand</p>
              </a>
            </li>
            <li class="col-sm-6">
              <a href="">
                <figure>
                <img src="images/case-overview-grundfos.jpg" alt="Grundfos">
              </figure>
                <h2>Grundfos</h2>
                <p>The real added value. New customers via Facebook</p>
              </a>
            </li>
            <li class="col-sm-6">
              <a href="">
                <figure>
                <img src="images/case-overview-sidel.jpg" alt="Sidel">
              </figure>
                <h2>Sidel</h2>
                <p>Keep the pole position confidently</p>
              </a>
            </li>
            <li class="col-sm-6">
              <a href="">
                <figure>
                <img src="images/case-overview-eilersen.jpg" alt="Eilersen">
              </figure>
                <h2>Eilersen</h2>
                <p>Quite relaxed growth</p>
              </a>
            </li>
          </ul>
        </div>
        <div class="foot row">
        </div>
      </div>
    -->
      <div class="content container-fluid">
        <div id="article-media" class="article-media row row-offcanvas row-offcanvas-left">
          <div class="col-xs-6 col-md-3 sidebar-offcanvas">
            <h3>Grundfos</h3>
            <h4>Demand More</h4>
            <ul role="tablist">
              <li role="presentation" class="active"><a role="tab" data-toggle="tab" aria-controls="web" href="#web">Web</a></li>
              <li role="presentation"><a role="tab" data-toggle="tab" aria-controls="print" href="#print">Print</a></li>
              <li role="presentation"><a role="tab" data-toggle="tab" aria-controls="mobile" href="#mobile">Mobile</a></li>
              <li role="presentation"><a role="tab" data-toggle="tab" aria-controls="app" href="#app">App</a></li>
            </ul>
          </div>
          <div class="canvas col-xs-12 col-md-9">
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active" id="web">
                <div class="owl-carousel">
                  <div>
                    <figure>
                      <img src="images/News-image.jpg" alt="">
                    </figure>
                  </div>
                  <div>
                    <figure>
                      <img src="images/case-overview-grundfos.jpg" alt="">
                    </figure>
                  </div>
                  <div>
                    <figure>
                      <img src="images/other-news2.jpg" alt="">
                    </figure>
                  </div>
                </div>
                <p>tabpanel: web</p>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="print">
                <div class="owl-carousel">
                  <div>
                    <figure>
                      <img src="images/News-image.jpg" alt="">
                    </figure>
                  </div>
                  <div>
                    <figure>
                      <img src="images/img26.jpg" alt="">
                    </figure>
                  </div>
                  <div>
                    <figure>
                      <img src="images/other-news3.jpg" alt="">
                    </figure>
                  </div>
                </div>
                <p>tabpanel: print</p>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="mobile">
                <div class="owl-carousel">
                  <div>
                    <figure>
                      <img src="images/qr-code.png" alt="">
                    </figure>
                  </div>
                  <div>
                    <figure>
                      <img src="images/img02.jpg" alt="">
                    </figure>
                  </div>
                  <div>
                    <figure>
                      <img src="images/img13-1.jpg" alt="">
                    </figure>
                  </div>
                </div>
                <p>tabpanel: mobile</p>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="app">
                <div class="owl-carousel">
                  <div>
                    <figure>
                      <img src="images/img26.jpg" alt="">
                    </figure>
                  </div>
                  <div>
                    <figure>
                      <img src="images/News-image.jpg" alt="">
                    </figure>
                  </div>
                  <div>
                    <figure>
                      <img src="images/other-news3.jpg" alt="">
                    </figure>
                  </div>
                </div>
                <p>tabpanel: app</p>
              </div>
            </div>
            <button class="" data-toggle="offcanvas" data-target="#article-media">media menu</button>
          </div>
        </div>

        <div class="article-content row">
          <div class="column column--manuscript col-sm-12 col-lg-6 col-lg-push-3">
            <div class="block block--heading">
              <h1>Grundfos forlanger mere</h1>
            </div>
            <div class="block block--statement">
              <p>Med ny global kampagne opfordrer Grundfos sine medarbejdere og kunder til at stillere højere krav. Målet er at forbedre cirkulationspumpen og styrke Grundfos' position som global markedsleder yderligere.</p>
            </div>
            <div class="block block--body">
              <p>Siden 1945 har Grundfos været pionér inden for pumpeløsninger, og i dag er virksomheden global markedsleder. For at fastholde sin ubestridte position er Grundfos dog nødt til hele tiden at forlange mere - af sig selv og af markedet. Samtidig investerer Grundfos massivt i forskning og udvikling, og på den måde skabes de bedste betingelser for banebrydende løsninger. Senest har det resulteret i &#8203;&#8203;tre nye produktinnovationer, som bliver bragt til markedet under den globale kampagneplatform "Demand More". Kampagnen er udviklet i samarbejde med Kunde &amp; Co, og er med til at underbygge den iboende innovationskraft hos Grundfos.</p>
              <p><span class="red">Interne og eksterne konsekvenser</span><br> De innovative pumpeløsninger blev fostret i et udviklingsprojekt kaldet "The Red Wolf Project", som var en udfordring til Grundfos om at "forlange mere" af sig selv som virksomhed. Internt resulterede det i en kontinuerlig jagt efter bedre måder at bygge pumper på med fokus på innovation og fordelagtige funktionaliteter på. Eksternt i en opfordring til målgrupperne om at udfordre markedet og Grundfos til at udvikle bedre cirkulationspumper med flere produktfordele. De burde stille krav om energieffektivitet, pålidelighed, bæredygtighed, intelligens og nem installation af pumperne.</p>
              <p><span class="red">Integreret kommunikation</span><br> Kampagnen, der er den største marketingsatsning i Grundfos' historie, integrerer en bred vifte af elementer, herunder events, PR, et website, enkelt- og dobbeltsidede annoncer, plakater, interne e-learning film, ekstern e-learning med Facebook Connect, integration med SAP, salgsværktøjer, dokumentarfilm, augmented reality, en app, et mobilsite og et internt kick-off. Det er første gang nogensinde, at det er lykkedes at integrere og tilpasse samtlige budskaber og elementer i marketingplanen, hvilket sikrer en omkostningseffektiv implementering på tværs af Grundfos' mange markeder.</p>
              <p><span class="red">100 procent tilmeldinger</span><br> Flere af kampagnens elementer er udviklet ved hjælp af de nyeste interaktive teknikker og funktioner. Det interne e-learning program er for eksempel specifikt målrettet 650 sælgere, som sammen med skuespiller Beate Bille medvirker i deres egen film. Efter bare én dag valgte 50 procent at skrive sig op til e-learning-programmet, og efter tre dage var der 100 procent involvering.</p>
              <p><span class="red">Danser med ulve</span><br> For at sikre en stærk lancering af "Demand More"-kampagnen blev der afholdt et internt kick-off i Berlin med "The Red Wolf Project" som kommunikativ overligger. På den første dag blev 400 interne Grundfos salgs-og marketingmedarbejdere introduceret til kampagnen og de nye produkter, og dagen efter fik 400 key accounts en 1-dags introduktion.</p>
              <p>En rød ulv, som symboliserer signaturfarven på Grundfos' cirkulationspumper og virksomhedens innovationskraft, blev brugt som omdrejningspunkt. Og for at skabe en intens atmosfære deltog derfor mere end 40 dansere klædt ud som røde ulve til kick-off.</p>
              <p>Begge deltagergrupper blev til kick-off gjort til en del af ulveflokken - morgendagens ledere. De røde ulve blev desuden brugt til at starte hele kommunikationen omkring Demand More-kampagnen, der siden har udviklet sig i en mere produktorienteret retning.</p>
            </div>
          </div>
          <div class="column column--aside column--facts col-xs-6 col-sm-6 col-lg-3 col-lg-pull-6">
            <div class="block block--heading">
    	        <h3><p>FAKTA</p></h3>
            </div>
            <div class="block block--fact">
              <div class="holder">
                <h4><p>Opgave</p></h4>
                <div>
	                <p></p><p>Fastholdelse af position som global markedsleder inden for energieffektive pumper.</p><p></p>
                </div>
              </div>
            </div>
            <div class="block block--fact">
                <div class="holder excl">
	                <h4><p>Løsning</p></h4>
	                <div>
		                <p></p><p>Udvikling af ”Demand More”-kampagne og det interne "Red Wolf Project”.</p><p></p>
	                </div>
                </div>
            </div>
            <div class="block block--fact">
                <div class="holder eql">
	                <h4><p>Resultat</p></h4>
	                <div>
		                <p></p><p>Vellykket intern og ekstern lancering og øjeblikkelig accept og implementering af kampagnen i 15 lande.</p><p></p>
	                </div>
                </div>
            </div>
          </div>
          <div class="column column--aside column--about col-xs-6 col-sm-6 col-lg-3">
            <div class="block block--heading">
    	        <h3><p>OM GRUNDFOS</p></h3>
            </div>
            <div class="block block--generic">
              <p>Grundfos er en af verdens højst rangerede producenter af pumper. Grundfos-koncernen dækker 82 selskaber i 45 lande.</p>
            </div>
          </div>
        </div>
      </div>

@@include('../responsive/page-foot.html')
@@include('../responsive/doc-bot.html')
