@@include('../responsive/doc-top.html', {"title" : "Overview"})
@@include('../responsive/page-head.html')

        <!--
        <div class="content container-fluid">
          <ul class="owl-carousel cases row">
            <li class="col-sm-6">
              <a href="">
                <figure>
                  <img src="images/case-overview-danfoss.jpg" alt="danfoss">
                </figure>
                <h2>Danfoss</h2>
                <p>Global thinking forward</p>
              </a>
            </li>
            <li class="col-sm-6">
              <a href="">
                <figure>
                  <img src="images/case-overview-avia.jpg" alt="AVIA">
                </figure>
                <h2>AVIA</h2>
                <p>Rooted local, involved internationally</p>
              </a>
            </li>
            <li class="col-sm-6">
              <a href="">
                <figure>
                <img src="images/case-overview-reckitt.jpg" alt="reckitt benckiser">
              </figure>
                <h2>Reckitt Benckiser </h2>
                <p>New social media strategy for five brands</p>
              </a>
            </li>
            <li class="col-sm-6">
              <a href="">
                <figure>
                <img src="images/case-overview-dnvgl.jpg" alt="DNV GL">
              </figure>
                <h2>DNV GL</h2>
                <p>Tells Technical topics emotionally</p>
              </a>
            </li>
            <li class="col-sm-6">
              <a href="">
                <figure>
                <img src="images/case-overview-foetex.jpg" alt="føtex">
              </figure>
                <h2>DNV GL</h2>
                <p>New Position</p>
              </a>
            </li>
            <li class="col-sm-6">
              <a href="">
                <figure>
                <img src="images/case-overview-bosch-rexroth.jpg" alt="Bosch Rexroth">
              </figure>
                <h2>Bosch Rexroth</h2>
                <p>Brutal successfully with new engines</p>
              </a>
            </li>
            <li class="col-sm-6">
              <a href="">
                <figure>
                <img src="images/case-overview-bosch-rexroth-2.jpg" alt="Bosch Rexroth 2">
              </figure>
                <h2>Bosch Rexroth</h2>
                <p>Pioneered the industry 4.0</p>
              </a>
            </li>
            <li class="col-sm-6">
              <a href="">
                <figure>
                <img src="images/case-overview-vaillant.jpg" alt="Vaillant">
              </figure>
                <h2>Bosch Rexroth</h2>
                <p>After the fair is before the fair</p>
              </a>
            </li>
            <li class="col-sm-6">
              <a href="">
                <figure>
                <img src="images/case-overview-miele.jpg" alt="Miele Professional">
              </figure>
                <h2>Miele Professional</h2>
                <p>On behalf of the highest quality</p>
              </a>
            </li>
            <li class="col-sm-6">
              <a href="">
                <figure>
                <img src="images/case-overview-bosch-rexroth-2.jpg" alt="The Athlete's Foot">
              </figure>
                <h2>The Athlete's Foot</h2>
                <p>Sport with Style</p>
              </a>
            </li>
            <li class="col-sm-6">
              <a href="">
                <figure>
                <img src="images/case-overview-heroal.jpg" alt="heroal">
              </figure>
                <h2>Heroal</h2>
                <p>Easy. Better. Only good is not enough</p>
              </a>
            </li>
            <li class="col-sm-6">
              <a href="">
                <figure>
                <img src="images/case-overview-kieser.jpg" alt="Kieser Training">
              </figure>
                <h2>Kieser Training</h2>
                <p>Strong body - strong brand</p>
              </a>
            </li>
            <li class="col-sm-6">
              <a href="">
                <figure>
                <img src="images/case-overview-grundfos.jpg" alt="Grundfos">
              </figure>
                <h2>Grundfos</h2>
                <p>The real added value. New customers via Facebook</p>
              </a>
            </li>
            <li class="col-sm-6">
              <a href="">
                <figure>
                <img src="images/case-overview-sidel.jpg" alt="Sidel">
              </figure>
                <h2>Sidel</h2>
                <p>Keep the pole position confidently</p>
              </a>
            </li>
            <li class="col-sm-6">
              <a href="">
                <figure>
                <img src="images/case-overview-eilersen.jpg" alt="Eilersen">
              </figure>
                <h2>Eilersen</h2>
                <p>Quite relaxed growth</p>
              </a>
            </li>
          </ul>
        </div>
        <div class="foot row">
        </div>
      </div>
    -->
      <div class="content container-fluid">
        <ul class="owl-carousel cases row">
          <li class="col-sm-12">
            <ul class="row">
              <li class="col-sm-6">
                <a href="">
                  <figure>
                    <img src="images/case-overview-danfoss.jpg" alt="danfoss">
                  </figure>
                  <h2>Danfoss</h2>
                  <p>Global thinking forward</p>
                </a>
              </li>
              <li class="col-sm-6">
                <a href="">
                  <figure>
                    <img src="images/case-overview-avia.jpg" alt="AVIA">
                  </figure>
                  <h2>AVIA</h2>
                  <p>Rooted local, involved internationally</p>
                </a>
              </li>
              <li class="col-sm-6">
                <a href="">
                  <figure>
                  <img src="images/case-overview-reckitt.jpg" alt="reckitt benckiser">
                </figure>
                  <h2>Reckitt Benckiser </h2>
                  <p>New social media strategy for five brands</p>
                </a>
              </li>
              <li class="col-sm-6">
                <a href="">
                  <figure>
                  <img src="images/case-overview-dnvgl.jpg" alt="DNV GL">
                </figure>
                  <h2>DNV GL</h2>
                  <p>Tells Technical topics emotionally</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="col-sm-12">
            <ul class="row">
              <li class="col-sm-6">
                <a href="">
                  <figure>
                  <img src="images/case-overview-foetex.jpg" alt="føtex">
                </figure>
                  <h2>DNV GL</h2>
                  <p>New Position</p>
                </a>
              </li>
              <li class="col-sm-6">
                <a href="">
                  <figure>
                  <img src="images/case-overview-bosch-rexroth.jpg" alt="Bosch Rexroth">
                </figure>
                  <h2>Bosch Rexroth</h2>
                  <p>Brutal successfully with new engines</p>
                </a>
              </li>
              <li class="col-sm-6">
                <a href="">
                  <figure>
                  <img src="images/case-overview-bosch-rexroth-2.jpg" alt="Bosch Rexroth 2">
                </figure>
                  <h2>Bosch Rexroth</h2>
                  <p>Pioneered the industry 4.0</p>
                </a>
              </li>
              <li class="col-sm-6">
                <a href="">
                  <figure>
                  <img src="images/case-overview-vaillant.jpg" alt="Vaillant">
                </figure>
                  <h2>Bosch Rexroth</h2>
                  <p>After the fair is before the fair</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="col-sm-12">
            <ul class="row">
              <li class="col-sm-6">
                <a href="">
                  <figure>
                  <img src="images/case-overview-miele.jpg" alt="Miele Professional">
                </figure>
                  <h2>Miele Professional</h2>
                  <p>On behalf of the highest quality</p>
                </a>
              </li>
              <li class="col-sm-6">
                <a href="">
                  <figure>
                  <img src="images/case-overview-bosch-rexroth-2.jpg" alt="The Athlete's Foot">
                </figure>
                  <h2>The Athlete's Foot</h2>
                  <p>Sport with Style</p>
                </a>
              </li>
              <li class="col-sm-6">
                <a href="">
                  <figure>
                  <img src="images/case-overview-heroal.jpg" alt="heroal">
                </figure>
                  <h2>Heroal</h2>
                  <p>Easy. Better. Only good is not enough</p>
                </a>
              </li>
              <li class="col-sm-6">
                <a href="">
                  <figure>
                  <img src="images/case-overview-kieser.jpg" alt="Kieser Training">
                </figure>
                  <h2>Kieser Training</h2>
                  <p>Strong body - strong brand</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="col-sm-12">
            <ul class="row">
              <li class="col-sm-6">
                <a href="">
                  <figure>
                  <img src="images/case-overview-grundfos.jpg" alt="Grundfos">
                </figure>
                  <h2>Grundfos</h2>
                  <p>The real added value. New customers via Facebook</p>
                </a>
              </li>
              <li class="col-sm-6">
                <a href="">
                  <figure>
                  <img src="images/case-overview-sidel.jpg" alt="Sidel">
                </figure>
                  <h2>Sidel</h2>
                  <p>Keep the pole position confidently</p>
                </a>
              </li>
              <li class="col-sm-6">
                <a href="">
                  <figure>
                  <img src="images/case-overview-eilersen.jpg" alt="Eilersen">
                </figure>
                  <h2>Eilersen</h2>
                  <p>Quite relaxed growth</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

@@include('../responsive/page-foot.html')
@@include('../responsive/doc-bot.html')
