@@include('../responsive/doc-top.html', {"title" : "Case"})
@@include('../responsive/page-head.html')

      <div class="content container-fluid">

        <div class="article-content row">
          <div class="column column--manuscript col-sm-12 col-lg-12">
            <div class="block block--banner">
              <figure>
                <img src="images/historie.jpg">
              </figure>
            </div>
            <div class="block block--heading">
              <h1>Es war einmal…</h1>
            </div>
            <div class="block block--statement">
              <p>1988 nimmt die Geschichte ihren Anfang, in einem Keller nördlich von Kopenhagen.</p>
            </div>
            <div class="block block--body">
              <p>In den Jahren zuvor ist Jesper Kunde als Marketingchef bei
Tuborg angestellt, später als Vertriebs- und Marketingchef bei
Lauritz Knudsen. In beiden Unternehmen stellt er fest, dass die
Werbeagenturen, mit denen er zusammenarbeitet, es weder verstehen
noch als wichtig ansehen, sich in die Situation des jeweiligen
Unternehmens hineinzuversetzen - oder gar dessen Anforderungen
gerecht zu werden. Es findet viel zu wenig strategisches
Kräftemessen statt, und es wird mit zu vielen aus dem Zusammenhang
gerissenen kreativen Ideen gearbeitet.</p>

<p>Er beschließt, Kunde &amp; Co zu gründen, eine Agentur, die für
ihre Kunden Ergebnisse schaffen will, indem sie sich auf den
strategischen Rahmen konzentriert, bevor kreative Lösungen
ausgearbeitet werden. Er verwendet das Bild eines Hürdenlaufs zur
Illustration seiner Philosophie, dass Marketing sich nicht nur um
Kommunikation mit den Endverbrauchern dreht, sondern ganz im
Gegenteil eine Disziplin ist, welche die gesamte Wertekette eines
Unternehmens umfasst. Und hierdurch auch eine Reihe von Hürden
beinhaltet, die fehlerfrei passiert werden müssen, um ans Ziel zu
gelangen.</p>

<p>Der erste Berater bei Kunde &amp; Co ist Gaute Høgh, der die
Agentur zusammen mit Jesper Kunde in den nächsten 14 Jahren
leitet.</p>

<p class="BigRed"><span>"Ich war davon überzeugt, dass Marketing in
der Zukunft ein vorrangiges Managementwerkzeug werden würde. Die
Unternehmen, die das sahen, würden die zukünftigen Gewinner
sein."</span></p>

<p>- Jesper Kunde</p>

<p>Mehr lesen:<a href="/ueber-uns/geschichte/wachstum.aspx" title="Wachstum"><br>
 Wachstum</a>, <a href="/ueber-uns/geschichte/kunden.aspx" title="Kunden">Kunden</a>, <a href="/ueber-uns/geschichte/unternehmenskultur.aspx" title="Unternehmenskultur">Unternehmenskultur</a>, <a href="/ueber-uns/geschichte/buecher.aspx" title="Bücher">Bücher</a>.</p>
            </div>
          </div>
        </div>
      </div>

@@include('../responsive/page-foot.html')
@@include('../responsive/doc-bot.html')
