<!-- document top begin -->
@@include('../classic/doc-top.html',{ "title" : "Kunde & Co" })
<!-- document top end -->

<!-- page head begin -->
@@include('../classic/page-head.html')
<!-- page head end -->

  <div id="main" >

    <div class="columns">
        <div class="aside">
            <div id="casePuser">
                <div class="main-ttl main-ttl-i">
                    <h2>
                        <span style="color: #CE103B; display: block">
                            Danfoss
                        </span><span style="color: #323232; display: block">
                            Global nach vorne gedacht
                        </span>

                    </h2>
                </div>
                    <ul class="case-list tags"  style="min-height:0;">
        <li>
		    <a class="caseLink" href="/cases/global-nach-vorne-gedacht/aussenwerbung.aspx">
                Aussenwerbung
		    </a>
	    </li>
        <li>
		    <a class="caseLink" href="/cases/global-nach-vorne-gedacht/printanzeigen.aspx">
                Printanzeigen
		    </a>
	    </li>
        <li>
		    <a class="caseLink" href="/cases/global-nach-vorne-gedacht/responsives-webdesign.aspx">
                Responsives Webdesign
		    </a>
	    </li>
    </ul>

            </div>
        </div>
        <div class="visual">
            <div class="image">
                <div id="slider">
                    <div id="scrollWindow">
                        <div class="scrollContainer">
                            <div class="panel">
                                <div class="slider-overflow">

                                </div>
                                <div class="description" style="display: none">
                                    <p>
                                        <p class="p1">Nach vielen Jahren, bei denen der Fokus auf der
Optimierung von Geschäftsprozessen lag, begann Danfoss 2013
gemeinsam mit Kunde &amp; Co ein wichtiges Markenprojekt. Ziel des
Projektes war die Entwicklung einer starken Markenplattform, um
eine konsistente Positionierung über alle Markt- und
Kundensegmente hinweg sicherzustellen und die Marke als Teil der
zukünftigen Wachstumsstrategie zu aktivieren.</p>

<p class="p1 red">Globale Präsenz<br />
 <span style="color: #646464;">Mit einer Präsenz in mehr als 100
Ländern war es wichtig, eine Plattform mit einer globalen
Perspektive zu entwickeln. Die neue Markenplattform von Danfoss
sollte als Grundlage für die Kommunikation im Heimmarkt Dänemark,
aber auch in internationalen Märkten wie den USA, Deutschland,
Russland und China dienen. Deshalb musste sie leicht zu
operationalisieren sein und die Mitarbeiter begeistern, um intern
die notwendige Unterstützung zu erhalten.</span></p>

<p class="p1 red">Entwicklung erfordert Einsicht<br />
 <span style="color: #646464;">Der erste Schritt waren
Prä-Interviews mit rund 80 internen Vertretern der verschiedenen
Geschäftsbereiche und Märkte. Diese Interviews lieferten den
Consultants und Analyseteam von Kunde &amp; Co und den Projektteams
von Danfoss nicht nur einen umfassenden Überblick über die
Organisation von Danfoss, sondern auch wichtige Erkenntnisse zur
Positionierung, Kultur und dem Marketing, welche die Grundlage für
die weitere Konzeptentwicklung bildeten. Darauf basierend begannen
die Berater und Kreativen von Kunde &amp; Co und Art Directors,
potenzielle Konzeptrichtungen für die zukünftige Positionierung
des Unternehmens zu entwickeln.</span></p>

<p class="p1 red">Umfangreiche externe Tests der
Konzeptrichtungen<br />
 <span style="color: #646464;">Kunde &amp; Co erstellte eine
umfassende Online-Befragung auf Basis der Hypothesen aus der
Anfangsphase und eines Management-Workshops. Rund 3.500 externe und
600 interne Befragte aus sieben Ländern beantworteten Fragen über
die aktuelle und zukünftige Positionierung, die Tonalität, das
Logo und die Werte von Danfoss.</span></p>

<p class="p1 red">ENGINEERING TOMORROW<br />
 <span style="color: #646464;">Basierend auf den Erkenntnissen aus
diesem Test entwickelte Kunde &amp; Co eine Markenplattform, welche
die Grundlage für die zukünftige globale Kommunikation von
Danfoss bildete. Die Werte hohe Qualität, Zuverlässigkeit und
Innovation, welche Danfoss immer vorangetrieben haben, werden im
Wort ENGINEERING vereint. Das Wort TOMORROW wurde verwendet, um den
internen Anspruch von Danfoss als Branchenführer und das
Engagement für eine nachhaltige Welt für zukünftige Generationen
aufzuzeigen. Durch diese Werte wurde das neue Konzept von Danfoss
gebildet: ENGINEERING TOMORROW.</span></p>

<p class="p1 red">Vier Themen und viele Anwendungsbereiche<br />
 <span style="color: #646464;">Für die Plattform wurden vier
Schwerpunktbereiche identifiziert. Diese basierten auf globalen
Trends der Einflussbereiche von Danfoss: Energie, Ernährung, Klima
und Infrastruktur. Diese vier globalen Trends bildeten die
Grundlage für die visuelle Identität von Danfoss sowie die
Themenfelder sämtlicher Kommunikationsmassnahmen. Erstmals
kommuniziet wurden sie in einem zehnminütigen Unternehmensfilm und
einer neuen Image-Broschüre. Zusätzlich zum Branding-Projekt wurde
auch ein neues CMS-System und eine neue globale IT-Strategie
implementiert, um die 240 verschiedenen Danfoss Websites zu
managen. Ausserdem entstanden eine neue Informationsarchitektur und
ein völlig neues interaktives Design.</span></p>

<p class="p1 red">Starker Start<br />
 <span style="color: #646464;">Die neue Markenplattform wurde im
September 2014 mit einer Kampagne in Dänemark eingeführt. Sie wird
in den kommenden Jahren in den wichtigsten globalen Märkten von
Danfoss implementiert. Ergebnisse des Marktforschungsunternehmens
Reputation Institute haben nicht nur gezeigt, dass ENGINEERING
TOMORROW der Claim ist, der am häufigsten mit Danfoss assoziiert
wird, sondern auch, dass die Bekanntheit von Danfoss innerhalb der
vier Schwerpunktbereiche um bis zu 51 Prozent gestiegen
ist.</span></p>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div id="buttons">
                            <a class="control-handle" id="prevbtn" href="#">
                                Zurück
                            </a>
                            <div class="itemCounter">
                            </div>
                            <a class="control-handle" id="nextbtn" href="#">
                                Weiter
                            </a>
                            <br class="clear" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns border-no">
            <div class="aside">
                        <div class="heading">
	        <h3><p>FAKTEN</p></h3>
        </div>
            <div class="article">
                <div class="article-holder">
	                <h4><p>Aufgabe</p></h4>
	                <div>
		                <p><p>Entwicklung einer neuen, starken und kohärenten internationalen Markenpositionierung.</p></p>
	                </div>
                </div>
            </div>
            <div class="article">
                <div class="article-holder excl">
	                <h4><p>Lösung</p></h4>
	                <div>
		                <p><p>ENGINEERING TOMORROW - eine starke und kohärente internationale Markenpositionierung als Grundlage für die globale Wachstumsstrategie</p></p>
	                </div>
                </div>
            </div>
            <div class="article">
                <div class="article-holder eql">
	                <h4><p>Ergebnis</p></h4>
	                <div>
		                <p><p>Innert kurzer Zeit Erhöhung Bekanntheit, Aufbau starker Positionierung intern und extern und dadurch Schaffung Grundlage für Wachstumsstrategie. </p></p>
	                </div>
                </div>
            </div>


            </div>
            <div class="main-text">
                <div class="aside aside-r">



<div>
  <div class="heading"><h3>Über Danfoss</h3></div>
  <div class="generic">

<p class="p1">Danfoss ist ein internationales Unternehmen mit rund
24.000 Mitarbeitern. Das Unternehmen ist Marktführer in der
Entwicklung und Produktion von Kühl- und Heizungslösungen,
Mobilhydraulik und Antrieben zur Unterstützung von Elektromotoren.
Danfoss ist in mehr als 100 Ländern präsent.</p>

  </div>
</div>


                <div class="app-download">
                      <h3>DOWNLOAD APP</h3>
                        <p>Suche nach ‘Kunde & Co’ im App Store</p>
                      <a href="#"><img src="images/app-dl.png" alt="download from appstore" /></a>
                      <!--<img src="images/qr-code.png" alt="qr code" class="qr-code" />-->

                    </div>
                </div>
                <div id="content">
                    <div class="heading content-heading"><h1>Global nach vorne gedacht</h1></div>
    <div class="block-wrap">
        <div class="block">
        <div class="box">
            <p class="mark1">Für Danfoss entwickelte Kunde &amp; Co mit ENGINEERING TOMORROW eine neue, starke und koh&#228;rente internationale Markenpositionierung als Grundlage für die globale Wachstumsstrategie.</p>
        </div>
        <div class="box">
            <div class="block-holder">

<p class="p1">Nach vielen Jahren, bei denen der Fokus auf der
Optimierung von Geschäftsprozessen lag, begann Danfoss 2013
gemeinsam mit Kunde &amp; Co ein wichtiges Markenprojekt. Ziel des
Projektes war die Entwicklung einer starken Markenplattform, um
eine konsistente Positionierung über alle Markt- und
Kundensegmente hinweg sicherzustellen und die Marke als Teil der
zukünftigen Wachstumsstrategie zu aktivieren.</p>

<p class="p1 red">Globale Präsenz<br />
 <span style="color: #646464;">Mit einer Präsenz in mehr als 100
Ländern war es wichtig, eine Plattform mit einer globalen
Perspektive zu entwickeln. Die neue Markenplattform von Danfoss
sollte als Grundlage für die Kommunikation im Heimmarkt Dänemark,
aber auch in internationalen Märkten wie den USA, Deutschland,
Russland und China dienen. Deshalb musste sie leicht zu
operationalisieren sein und die Mitarbeiter begeistern, um intern
die notwendige Unterstützung zu erhalten.</span></p>

<p class="p1 red">Entwicklung erfordert Einsicht<br />
 <span style="color: #646464;">Der erste Schritt waren
Prä-Interviews mit rund 80 internen Vertretern der verschiedenen
Geschäftsbereiche und Märkte. Diese Interviews lieferten den
Consultants und Analyseteam von Kunde &amp; Co und den Projektteams
von Danfoss nicht nur einen umfassenden Überblick über die
Organisation von Danfoss, sondern auch wichtige Erkenntnisse zur
Positionierung, Kultur und dem Marketing, welche die Grundlage für
die weitere Konzeptentwicklung bildeten. Darauf basierend begannen
die Berater und Kreativen von Kunde &amp; Co und Art Directors,
potenzielle Konzeptrichtungen für die zukünftige Positionierung
des Unternehmens zu entwickeln.</span></p>

<p class="p1 red">Umfangreiche externe Tests der
Konzeptrichtungen<br />
 <span style="color: #646464;">Kunde &amp; Co erstellte eine
umfassende Online-Befragung auf Basis der Hypothesen aus der
Anfangsphase und eines Management-Workshops. Rund 3.500 externe und
600 interne Befragte aus sieben Ländern beantworteten Fragen über
die aktuelle und zukünftige Positionierung, die Tonalität, das
Logo und die Werte von Danfoss.</span></p>

<p class="p1 red">ENGINEERING TOMORROW<br />
 <span style="color: #646464;">Basierend auf den Erkenntnissen aus
diesem Test entwickelte Kunde &amp; Co eine Markenplattform, welche
die Grundlage für die zukünftige globale Kommunikation von
Danfoss bildete. Die Werte hohe Qualität, Zuverlässigkeit und
Innovation, welche Danfoss immer vorangetrieben haben, werden im
Wort ENGINEERING vereint. Das Wort TOMORROW wurde verwendet, um den
internen Anspruch von Danfoss als Branchenführer und das
Engagement für eine nachhaltige Welt für zukünftige Generationen
aufzuzeigen. Durch diese Werte wurde das neue Konzept von Danfoss
gebildet: ENGINEERING TOMORROW.</span></p>

<p class="p1 red">Vier Themen und viele Anwendungsbereiche<br />
 <span style="color: #646464;">Für die Plattform wurden vier
Schwerpunktbereiche identifiziert. Diese basierten auf globalen
Trends der Einflussbereiche von Danfoss: Energie, Ernährung, Klima
und Infrastruktur. Diese vier globalen Trends bildeten die
Grundlage für die visuelle Identität von Danfoss sowie die
Themenfelder sämtlicher Kommunikationsmassnahmen. Erstmals
kommuniziet wurden sie in einem zehnminütigen Unternehmensfilm und
einer neuen Image-Broschüre. Zusätzlich zum Branding-Projekt wurde
auch ein neues CMS-System und eine neue globale IT-Strategie
implementiert, um die 240 verschiedenen Danfoss Websites zu
managen. Ausserdem entstanden eine neue Informationsarchitektur und
ein völlig neues interaktives Design.</span></p>

<p class="p1 red">Starker Start<br />
 <span style="color: #646464;">Die neue Markenplattform wurde im
September 2014 mit einer Kampagne in Dänemark eingeführt. Sie wird
in den kommenden Jahren in den wichtigsten globalen Märkten von
Danfoss implementiert. Ergebnisse des Marktforschungsunternehmens
Reputation Institute haben nicht nur gezeigt, dass ENGINEERING
TOMORROW der Claim ist, der am häufigsten mit Danfoss assoziiert
wird, sondern auch, dass die Bekanntheit von Danfoss innerhalb der
vier Schwerpunktbereiche um bis zu 51 Prozent gestiegen
ist.</span></p>

            </div>
        </div>
    </div>
</div>


                    <meta property="fb:admins" content="100000508319260" />
            <ul class="btn-list">
              <li>
<span class="linkedinbutton">
<script type="IN/FollowCompany" data-id="8016" data-counter="right"></script>
</span>
<!--<a href="http://www.addthis.com/bookmark.php?v=250&amp;username=kunde" class="btn1 addthis_button">Teilen</a>-->
&nbsp;
 <a class="addthis_button_facebook_like"></a>

<script type="text/javascript">
	var addthis_config = {
		data_track_clickback:true,
		services_compact: 'email, google, facebook, linkedin, twitter, digg, delicious, stumbleupon'
	};
	</script>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=kunde"></script>
<!-- AddThis Button END -->
              </li>
              <!-- <li class="facebook-recommend">
  <iframe src="http://www.facebook.com/widgets/like.php?width200&height=80&layout=button_count&show_faces=false&action=recommend&href=http://kunde.dk" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:21px;" allowTransparency="true"></iframe>              </li> -->
              <li onClick="window.print()" class="print-icon">
                <img src="images/print-icon.gif"/> Print
              </li>
            </ul>



                </div>
            </div>
        </div>
    </div>

  </div>

  <!-- page footer begin -->
  @@include('../classic/page-foot.html')
  <!-- page footer end -->


  <!-- document bottom begin -->
  @@include('../classic/doc-bot.html')
  <!-- document bottom end -->
