<!-- document top begin -->
@@include('../classic/doc-top.html',{ "title" : "Kunde & Co" })
<!-- document top end -->

<!-- page head begin -->
@@include('../classic/page-head.html')
<!-- page head end -->



<div id="main">
  <div id="content" class="home">
    <div class="columns slider" id="home-col">

      <script type="text/javascript" src="/scripts/jquery.cycle.js"></script>
      <script type="text/javascript">
        //<![CDATA[
        jQuery(function() {
          $('#carousel10462').cycle({
            prev: '.media-carousel .prev-hover',
            next: '.media-carousel .next-hover',
            easing: 'easeOutExpo',
            pager: '.pagination',
            pagerAnchorBuilder: function(idx, slide) {
              return '<a href="#"></a>';
            }
          });

          var gall = $('#carousel10462 li').length;

          if (gall <= 1) {
            $('.pagination').hide();
          };

          $('.prev-hover, .next-hover').hover(function(e) {
            $(this).find('a').fadeIn(800);
          }, function(e) {
            $(this).find('a').fadeOut(800);
          });
        });
        //]]>
      </script>
      <div class="media-carousel">
        <ul id="carousel10462" class="carousel" style="position: relative;">
          <li style="position: absolute; top: 0px; left: 0px; display: block; z-index: 3; opacity: 0.961792; width: 995px; height: 319px;">
            <a href="/kontakt/materiale.aspx">
              <img alt="" src="http://www.kunde.dk/media/796518/forsidebanner_995x-319_kunde_indstik_dk_v001-alu-2015-b.jpg" width="995" height="319">
            </a>
          </li>
          <li style="position: absolute; top: 0px; left: 0px; display: block; z-index: 2; opacity: 0.0382075; width: 995px; height: 319px;">
            <a href="/kontakt/materiale.aspx">
              <img alt="" src="http://www.kunde.dk/media/796504/forsidebanner_995x-319_kunde_indstik_dk_v001-alu-2014-a.jpg" width="995" height="319">
            </a>
          </li>
        </ul>
        <div class="clearfix"></div>
        <div class="prev-hover">
          <a href="#" class="prev" style="display: none;"></a>
        </div>
        <div class="next-hover">
          <a href="#" class="next"></a>
        </div>
        <div class="pagination">
          <a href="#" class="activeSlide"></a>
          <a href="#" class=""></a>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="row">
        <h2 style="margin-top:11px" class="home">
          Wir sind spezialisiert auf <strong>Branding</strong>, <strong>internationales Marketing</strong> sowie <strong>kreative Strategien</strong> und Kampagnen
        </h2>
        <div class="contact">
          <div>
            <div class="heading">
              <h3>FØLG OS</h3>
            </div>
            <div class="generic">
              <p class="p1">... Og hold dig opdateret på nye indsigter, vores seneste cases og ledige stillinger</p>
              <div class="sm-items">
                <a href="https://www.facebook.com/kundeco" target="_blank">
                  <img src="http://www.kunde.dk/media/770036/facebook.jpg" width="32" height="32">
                </a>
                <a href="https://www.linkedin.com/company/kunde-&amp;-co" target="_blank">
                  <img src="http://www.kunde.dk/media/770043/linkedin.jpg" width="32" height="32">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="cases">
          <script type="text/javascript">
            //<![CDATA[
            jQuery(function() {
              $('#carousel1085').carouFredSel({
                auto: {
                  play: true,
                  pauseDuration: 8000
                },
                circular: true,
                items: {
                  visible: 3
                },
                prev: {
                  button: ".cases-carousel .prev",
                  key: "left",
                  items: 3,
                  easing: "easeInOutQuint",
                  duration: 700
                },
                next: {
                  button: ".cases-carousel .next",
                  key: "right",
                  items: 3,
                  easing: "easeInOutQuint",
                  duration: 700
                }
              });
            });
            //]]>
          </script>
          <div class="heading">
            <h2>Cases</h2>
          </div>
          <div class="cases-carousel">
            <div class="caroufredsel_wrapper" style="float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; width: 762px; height: 355px; margin: 0px; overflow: hidden;">
              <ul id="carousel1085" class="carousel" style="float: none; position: absolute; top: 0px; left: 0px; margin: 0px; width: 5842px; height: 355px;">






                <li>
                  <a class="top-link" href="/cases/neutral-bringer-det-bedste-frem-i-dig.aspx">
                    <span>
                      <img width="222" height="156" alt="" src="http://www.kunde.dk/media/769316/neutral-slider-thumbnail.jpg">
                    </span>
                  </a>
                  <div class="text-holder">
                    <h3>Be your best you</h3>
                    <h4 class="client">Neutral</h4>
                    <p>Ny kommunikationskoncept understøtter Neutrals holdning til følsom hud og formidler en universel følelse på tværs af landegrænser. </p>
                  </div>
                  <a class="bottom-link" href="/cases/neutral-bringer-det-bedste-frem-i-dig.aspx">Se case</a>
                </li>
                <li>
                  <a class="top-link" href="/cases/vores.aspx">
                    <span>
                      <img width="222" height="156" alt="" src="http://www.kunde.dk/media/794222/vores-case-222x156.jpg">
                    </span>
                  </a>
                  <div class="text-holder">
                    <h3>Vores</h3>
                    <h4 class="client">Dansk Supermarked</h4>
                    <p>Udvikling af nyt stort private label brand og tilhørende markedsføringsstrategi.</p>
                  </div>
                  <a class="bottom-link" href="/cases/vores.aspx">Se case</a>
                </li>
                <li>
                  <a class="top-link" href="/cases/demand-more.aspx">
                    <span>
                      <img width="222" height="156" alt="" src="http://www.kunde.dk/media/769295/gf-dm-slider-thumbnail.jpg">
                    </span>
                  </a>
                  <div class="text-holder">
                    <h3>Demand more</h3>
                    <h4 class="client">Grundfos</h4>
                    <p>Kampagne rettet mod ingeniører i 21 lande fasttømrer Grundfos’ position som leverandør af intelligente pumpeløsninger. </p>
                  </div>
                  <a class="bottom-link" href="/cases/demand-more.aspx">Se case</a>
                </li>
                <li>
                  <a class="top-link" href="/cases/nothing-left-to-doubt.aspx">
                    <span>
                      <img width="222" height="156" alt="" src="http://www.kunde.dk/media/648298/vestas_2.jpg">
                    </span>
                  </a>
                  <div class="text-holder">
                    <h3>Nothing left to doubt.</h3>
                    <h4 class="client">Vestas</h4>
                    <p>Global kampagne fjerner al tvivl og understøtter vindmøllefirmaets bedst sælgende produkt. </p>
                  </div>
                  <a class="bottom-link" href="/cases/nothing-left-to-doubt.aspx">Se case</a>
                </li>
                <li>
                  <a class="top-link" href="/cases/ny-position.aspx">
                    <span>
                      <img width="222" height="156" alt="" src="http://www.kunde.dk/media/821913/foetex-slider222x156.jpg">
                    </span>
                  </a>
                  <div class="text-holder">
                    <h3>Ny værdiposition og kommunikation</h3>
                    <h4 class="client">føtex</h4>
                    <p>Positionering af føtex som et varehus med fokus på god kvalitet til fornuftige priser.</p>
                  </div>
                  <a class="bottom-link" href="/cases/ny-position.aspx">Se case</a>
                </li>
                <li>
                  <a class="top-link" href="/cases/work-smarter.aspx">
                    <span>
                      <img width="222" height="156" alt="" src="http://www.kunde.dk/media/734579/grohe-professional.png">
                    </span>
                  </a>
                  <div class="text-holder">
                    <h3>WORK SMARTER</h3>
                    <h4 class="client">GROHE AG</h4>
                    <p>Et nyt look kombineret med kendisudtalelser positionerer GROHE Professional som en kompetent partner for VVS-installatører.</p>
                  </div>
                  <a class="bottom-link" href="/cases/work-smarter.aspx">Se case</a>
                </li>
                <li>
                  <a class="top-link" href="/cases/dental-frontloeber.aspx">
                    <span>
                      <img width="222" height="156" alt="" src="http://www.kunde.dk/media/663903/carestream.jpg">
                    </span>
                  </a>
                  <div class="text-holder">
                    <h3>Dental frontløber</h3>
                    <h4 class="client">Carestream Dental</h4>
                    <p>Global markedsleder indenfor røntgenudstyr til tandlæger får hjælp til re-positionering.
                    </p>
                  </div>
                  <a class="bottom-link" href="/cases/dental-frontloeber.aspx">Se case</a>
                </li>
                <li>
                  <a class="top-link" href="/cases/hvad-skal-vi-med-hjemmevaernet-i-dag.aspx">
                    <span>
                      <img width="222" height="156" alt="" src="http://www.kunde.dk/media/794229/hjemmevaernet-case-222x156.jpg">
                    </span>
                  </a>
                  <div class="text-holder">
                    <h3>vistillerop.dk</h3>
                    <h4 class="client">Hjemmeværnet</h4>
                    <p>Nyt rekrutteringssite får god hjælp fra Facebook, der generer 12% nye tilmeldinger.</p>
                  </div>
                  <a class="bottom-link" href="/cases/hvad-skal-vi-med-hjemmevaernet-i-dag.aspx">Se case</a>
                </li>
                <li>
                  <a class="top-link" href="/cases/taenk-maerke,-ikke-kun-produkter.aspx">
                    <span>
                      <img width="222" height="156" alt="" src="http://www.kunde.dk/media/769288/hth-slider-thumbnail.jpg">
                    </span>
                  </a>
                  <div class="text-holder">
                    <h3>Nyt premium koncept</h3>
                    <h4 class="client">HTH</h4>
                    <p>Identitet og koncept til ny produktlinje i ekstra høj kvalitet målrettet nordiske markeder. </p>
                  </div>
                  <a class="bottom-link" href="/cases/taenk-maerke,-ikke-kun-produkter.aspx">Se case</a>
                </li>
                <li>
                  <a class="top-link" href="/cases/ny-digital-tilstedevaerelse.aspx">
                    <span>
                      <img width="222" height="156" alt="" src="http://www.kunde.dk/media/794215/kongsberg-case-222x156.jpg">
                    </span>
                  </a>
                  <div class="text-holder">
                    <h3>Nyt digitalt liv</h3>
                    <h4 class="client">Kongsberg Oil &amp; Gas</h4>
                    <p>Forbedring af hjemmeside og udvikling af relevant indhold til Facebook og LinkedIn.</p>
                  </div>
                  <a class="bottom-link" href="/cases/ny-digital-tilstedevaerelse.aspx">Se case</a>
                </li>
              </ul>
            </div>
            <div class="clearfix"></div>
            <a href="#" class="prev" style="display: block;"></a>
            <a href="#" class="next" style="display: block;"></a>
          </div>

        </div>
        <div class="news">
          <script type="text/javascript">
            //<![CDATA[
            jQuery(function() {
              $('#newsCarousel').carouFredSel({
                items: {
                  visible: 3
                },
                direction: "up",
                circular: false,
                infinite: false,
                responsive: true,
                auto: false,
                scroll: {
                  items: 1,
                  easing: "easeInOutBack",
                  duration: 500
                },
                prev: {
                  button: ".news-carousel .prev a",
                  key: "up"
                },
                next: {
                  button: ".news-carousel .next a",
                  key: "down"
                }
              });
            });
            //]]>
          </script>
          <div class="heading">
            <h2>Seneste nyheder</h2>
          </div>
          <div class="news-carousel">
            <div class="prev">
              <a href="#" class="disabled" style="display: block;"></a>
            </div>
            <div class="caroufredsel_wrapper" style="float: right; position: relative; top: auto; right: auto; bottom: auto; left: auto; width: 236px; height: 357px; margin: 0px; overflow: hidden;">
              <ul id="newsCarousel" class="jcarousel-skin-tango carousel" style="float: none; position: absolute; top: 0px; left: 0px; margin: 0px; height: 12733px; width: 236px;">
                <li onclick="javascript:location.href='/om-os/nyheder.aspx#news17311'" class="Får du fortalt din gode historie? clickable">
                  <p class="date">16. okt 2015</p>
                  <h3>Får du fortalt din gode historie?</h3>
                  <p>- Og hvor mange af dine potentielle kunder rammer du? &nbsp;
                    <a href="/om-os/nyheder.aspx#news17311">
                      <img src="../../images/news-arrow.png">
                    </a>
                  </p>
                </li>
                <li onclick="javascript:location.href='/om-os/nyheder.aspx#news17305'" class="Er din virksomhed en god historie? clickable">
                  <p class="date">12. okt 2015</p>
                  <h3>Er din virksomhed en god historie?</h3>
                  <p>Og bliver den kommunikeret rigtigt ud til markedet? &nbsp;
                    <a href="/om-os/nyheder.aspx#news17305">
                      <img src="../../images/news-arrow.png">
                    </a>
                  </p>
                </li>
                <li onclick="javascript:location.href='/om-os/nyheder.aspx#news17290'" class="Global web platform clickable">
                  <p class="date">14. aug 2015</p>
                  <h3>Global web platform</h3>
                  <p>Den globale franchisekæde, The Athletes Foot® er nu live med et globalt website. &nbsp;
                    <a href="/om-os/nyheder.aspx#news17290">
                      <img src="../../images/news-arrow.png">
                    </a>
                  </p>
                </li>
                <li onclick="javascript:location.href='/om-os/nyheder.aspx#news16574'" class="20 stærke kundecases clickable">
                  <p class="date">17. mar 2015</p>
                  <h3>20 stærke kundecases</h3>
                  <p>Se og læs i et nyt indstik, hvordan Kunde &amp; Co har løst en række aktuelle marketingudfordringer. &nbsp;
                    <a href="/om-os/nyheder.aspx#news16574">
                      <img src="../../images/news-arrow.png">
                    </a>
                  </p>
                </li>
                <li onclick="javascript:location.href='/om-os/nyheder.aspx#news16573'" class="The Kunde Competition clickable">
                  <p class="date">17. mar 2015</p>
                  <h3>The Kunde Competition</h3>
                  <p>Ambitiøse studerende kan nu komme tæt på Kunde &amp; Co og løse en marketingcase for føtex. &nbsp;
                    <a href="/om-os/nyheder.aspx#news16573">
                      <img src="../../images/news-arrow.png">
                    </a>
                  </p>
                </li>
                <li onclick="javascript:location.href='/om-os/nyheder.aspx#news16566'" class="Årets bedste bureau clickable">
                  <p class="date">13. jan 2015</p>
                  <h3>Årets bedste bureau</h3>
                  <p>Kunde &amp; Co er i dansk MyImage undersøgelse kåret til det bedste danske reklamebureau. &nbsp;
                    <a href="/om-os/nyheder.aspx#news16566">
                      <img src="../../images/news-arrow.png">
                    </a>
                  </p>
                </li>
                <li onclick="javascript:location.href='/om-os/nyheder.aspx#news16558'" class="Fuldt hus til seminar clickable">
                  <p class="date">28. nov 2014</p>
                  <h3>Fuldt hus til seminar</h3>
                  <p>Mere end 1400 marketinginteresserede deltog i Kunde &amp; Co’s seminar. &nbsp;
                    <a href="/om-os/nyheder.aspx#news16558">
                      <img src="../../images/news-arrow.png">
                    </a>
                  </p>
                </li>
                <li onclick="javascript:location.href='/om-os/nyheder.aspx#news16301'" class="Er det kunderne eller dig, der styrer dit brand? clickable">
                  <p class="date">26. sep 2014</p>
                  <h3>Er det kunderne eller dig, der styrer dit brand?</h3>
                  <p>Den digitale tidsalder har ændret dine kunders beslutningsproces. &nbsp;
                    <a href="/om-os/nyheder.aspx#news16301">
                      <img src="../../images/news-arrow.png">
                    </a>
                  </p>
                </li>
                <li onclick="javascript:location.href='/om-os/nyheder.aspx#news16299'" class="Hvem styrer dit brand? clickable">
                  <p class="date">26. sep 2014</p>
                  <h3>Hvem styrer dit brand?</h3>
                  <p>Er det kunderne, distributørerne, sælgerne, medarbejderne eller marketing? &nbsp;
                    <a href="/om-os/nyheder.aspx#news16299">
                      <img src="../../images/news-arrow.png">
                    </a>
                  </p>
                </li>
                <li onclick="javascript:location.href='/om-os/nyheder.aspx#news16150'" class="Work Smarter Tour clickable">
                  <p class="date">12. jun 2014</p>
                  <h3>Work Smarter Tour</h3>
                  <p>Turnéer er ikke for kun rockstjerner. GROHE Professional gør det også. &nbsp;
                    <a href="/om-os/nyheder.aspx#news16150">
                      <img src="../../images/news-arrow.png">
                    </a>
                  </p>
                </li>
                <li onclick="javascript:location.href='/om-os/nyheder.aspx#news16119'" class="Ingen “Ordnung muss sein” clickable">
                  <p class="date">02. apr 2014</p>
                  <h3>Ingen “Ordnung muss sein”</h3>
                  <p>Tysk marketingarbejde stikker lidt ud fra den sædvanlige tyske struktur. &nbsp;
                    <a href="/om-os/nyheder.aspx#news16119">
                      <img src="../../images/news-arrow.png">
                    </a>
                  </p>
                </li>
                <li onclick="javascript:location.href='/om-os/nyheder.aspx#news15797'" class="Topkarakter for kommunikation clickable">
                  <p class="date">26. sep 2013</p>
                  <h3>Topkarakter for kommunikation</h3>
                  <p>Ny tysk annoncetest belønner Kunde &amp; Co’s arbejde. &nbsp;
                    <a href="/om-os/nyheder.aspx#news15797">
                      <img src="../../images/news-arrow.png">
                    </a>
                  </p>
                </li>
                <li onclick="javascript:location.href='/om-os/nyheder.aspx#news15776'" class="Ny kampagne for LK clickable">
                  <p class="date">15. aug 2013</p>
                  <h3>Ny kampagne for LK</h3>
                  <p>En stikkontakt kan også være rød, gul eller blå. &nbsp;
                    <a href="/om-os/nyheder.aspx#news15776">
                      <img src="../../images/news-arrow.png">
                    </a>
                  </p>
                </li>
                <li onclick="javascript:location.href='/om-os/nyheder.aspx#news15772'" class="Online balance til Beierholm clickable">
                  <p class="date">30. jun 2013</p>
                  <h3>Online balance til Beierholm</h3>
                  <p>Nyt web-layout og mobilsite til revisionsvirksomheden &nbsp;
                    <a href="/om-os/nyheder.aspx#news15772">
                      <img src="../../images/news-arrow.png">
                    </a>
                  </p>
                </li>
                <li onclick="javascript:location.href='/om-os/nyheder.aspx#news15734'" class="Når intern kommunikation gør en forskel clickable">
                  <p class="date">17. jun 2013</p>
                  <h3>Når intern kommunikation gør en forskel</h3>
                  <p>Se, hvordan Kunde &amp; Co arbejder med involvering af medarbejdere. &nbsp;
                    <a href="/om-os/nyheder.aspx#news15734">
                      <img src="../../images/news-arrow.png">
                    </a>
                  </p>
                </li>
                <li onclick="javascript:location.href='/om-os/nyheder.aspx#news15541'" class="Nye film for Stofa clickable">
                  <p class="date">14. maj 2013</p>
                  <h3>Nye film for Stofa</h3>
                  <p>Brian Lykke er Stofas nye ansigt. &nbsp;
                    <a href="/om-os/nyheder.aspx#news15541">
                      <img src="../../images/news-arrow.png">
                    </a>
                  </p>
                </li>
                <li onclick="javascript:location.href='/om-os/nyheder.aspx#news15492'" class="Panik? Dine kunder snakker om dit brand clickable">
                  <p class="date">02. maj 2013</p>
                  <h3>Panik? Dine kunder snakker om dit brand</h3>
                  <p>Det har aldrig været vigtigere at have styr på virksomhedens fortælling. &nbsp;
                    <a href="/om-os/nyheder.aspx#news15492">
                      <img src="../../images/news-arrow.png">
                    </a>
                  </p>
                </li>
                <li onclick="javascript:location.href='/om-os/nyheder.aspx#news15294'" class="Kan man være utro mod sit brand? clickable">
                  <p class="date">22. apr 2013</p>
                  <h3>Kan man være utro mod sit brand?</h3>
                  <p>Respekter det, som brand’et står for, når du skal bygge en ny position. &nbsp;
                    <a href="/om-os/nyheder.aspx#news15294">
                      <img src="../../images/news-arrow.png">
                    </a>
                  </p>
                </li>
                <li onclick="javascript:location.href='/om-os/nyheder.aspx#news15465'" class="Work Smarter clickable">
                  <p class="date">12. apr 2013</p>
                  <h3>Work Smarter</h3>
                  <p>Internationalt koncept positionerer GROHE Professional over for installatører &nbsp;
                    <a href="/om-os/nyheder.aspx#news15465">
                      <img src="../../images/news-arrow.png">
                    </a>
                  </p>
                </li>
                <li onclick="javascript:location.href='/om-os/nyheder.aspx#news15282'" class="Nye takter i tandlægefaget clickable">
                  <p class="date">22. mar 2013</p>
                  <h3>Nye takter i tandlægefaget</h3>
                  <p>Ny film for Carestream Dental &nbsp;
                    <a href="/om-os/nyheder.aspx#news15282">
                      <img src="../../images/news-arrow.png">
                    </a>
                  </p>
                </li>
                <li onclick="javascript:location.href='/om-os/nyheder.aspx#news15277'" class="Ordsmed sætter punktum clickable">
                  <p class="date">05. mar 2013</p>
                  <h3>Ordsmed sætter punktum</h3>
                  <p>Reception for Flemming Slebsager 11. marts fra 17-18 &nbsp;
                    <a href="/om-os/nyheder.aspx#news15277">
                      <img src="../../images/news-arrow.png">
                    </a>
                  </p>
                </li>
                <li onclick="javascript:location.href='/om-os/nyheder.aspx#news15253'" class="Guld til Pågen website clickable">
                  <p class="date">04. feb 2013</p>
                  <h3>Guld til Pågen website</h3>
                  <p>I Sverige er Pågens website nr. 1 blandt forbrugerne. &nbsp;
                    <a href="/om-os/nyheder.aspx#news15253">
                      <img src="../../images/news-arrow.png">
                    </a>
                  </p>
                </li>
                <li onclick="javascript:location.href='/om-os/nyheder.aspx#news15250'" class="Råt og Ærligt clickable">
                  <p class="date">28. jan 2013</p>
                  <h3>Råt og Ærligt</h3>
                  <p>Ny film for Optimera &nbsp;
                    <a href="/om-os/nyheder.aspx#news15250">
                      <img src="../../images/news-arrow.png">
                    </a>
                  </p>
                </li>
                <li onclick="javascript:location.href='/om-os/nyheder.aspx#news15241'" class="Make life easy clickable">
                  <p class="date">18. jan 2013</p>
                  <h3>Make life easy</h3>
                  <p>Ny film for Sony Mobile &nbsp;
                    <a href="/om-os/nyheder.aspx#news15241">
                      <img src="../../images/news-arrow.png">
                    </a>
                  </p>
                </li>
                <li onclick="javascript:location.href='/om-os/nyheder.aspx#news15218'" class="Solar app shortlistet clickable">
                  <p class="date">22. nov 2012</p>
                  <h3>Solar app shortlistet</h3>
                  <p>Ny app til installatører nomineret til en Danish APP Award &nbsp;
                    <a href="/om-os/nyheder.aspx#news15218">
                      <img src="../../images/news-arrow.png">
                    </a>
                  </p>
                </li>
                <li onclick="javascript:location.href='/om-os/nyheder.aspx#news14520'" class="Hjemmeværnet vælger Kunde &amp; Co clickable">
                  <p class="date">25. okt 2012</p>
                  <h3>Hjemmeværnet vælger Kunde &amp; Co</h3>
                  <p>Hjemmeværnet og Kunde &amp; Co kan se frem til et fireårigt samarbejde. &nbsp;
                    <a href="/om-os/nyheder.aspx#news14520">
                      <img src="../../images/news-arrow.png">
                    </a>
                  </p>
                </li>
                <li onclick="javascript:location.href='/om-os/nyheder.aspx#news12687'" class="Bronze til ECHO Awards clickable">
                  <p class="date">17. okt 2012</p>
                  <h3>Bronze til ECHO Awards</h3>
                  <p>Vestas kampagne vinder bronze i B2B kategorien &nbsp;
                    <a href="/om-os/nyheder.aspx#news12687">
                      <img src="../../images/news-arrow.png">
                    </a>
                  </p>
                </li>
                <li onclick="javascript:location.href='/om-os/nyheder.aspx#news12630'" class="Velkommen til Miele Professional clickable">
                  <p class="date">12. okt 2012</p>
                  <h3>Velkommen til Miele Professional</h3>
                  <p>Nyt imageprojekt for Miele Professional &nbsp;
                    <a href="/om-os/nyheder.aspx#news12630">
                      <img src="../../images/news-arrow.png">
                    </a>
                  </p>
                </li>
                <li onclick="javascript:location.href='/om-os/nyheder.aspx#news12629'" class="Nyt webkoncept til Sidel clickable">
                  <p class="date">12. okt 2012</p>
                  <h3>Nyt webkoncept til Sidel</h3>
                  <p>Sidel er nu også et ”Better Match” på nettet &nbsp;
                    <a href="/om-os/nyheder.aspx#news12629">
                      <img src="../../images/news-arrow.png">
                    </a>
                  </p>
                </li>
                <li onclick="javascript:location.href='/om-os/nyheder.aspx#news12637'" class="Nyt JELD-WEN website clickable">
                  <p class="date">12. okt 2012</p>
                  <h3>Nyt JELD-WEN website</h3>
                  <p>Et website tilpasset 9 forskellige sortimenter &nbsp;
                    <a href="/om-os/nyheder.aspx#news12637">
                      <img src="../../images/news-arrow.png">
                    </a>
                  </p>
                </li>
                <li onclick="javascript:location.href='/om-os/nyheder.aspx#news12628'" class="Nagel skaber ny visuel identitet clickable">
                  <p class="date">12. okt 2012</p>
                  <h3>Nagel skaber ny visuel identitet</h3>
                  <p>Nyt CVI forener Nagels image på tværs af Europa &nbsp;
                    <a href="/om-os/nyheder.aspx#news12628">
                      <img src="../../images/news-arrow.png">
                    </a>
                  </p>
                </li>
                <li onclick="javascript:location.href='/om-os/nyheder.aspx#news12470'" class="Når strategien bærer frugt clickable">
                  <p class="date">12. sep 2012</p>
                  <h3>Når strategien bærer frugt</h3>
                  <p>Beierholm løfter både kendskab og image &nbsp;
                    <a href="/om-os/nyheder.aspx#news12470">
                      <img src="../../images/news-arrow.png">
                    </a>
                  </p>
                </li>
                <li onclick="javascript:location.href='/om-os/nyheder.aspx#news12468'" class="Det vigtigste rum i dit liv clickable">
                  <p class="date">10. sep 2012</p>
                  <h3>Det vigtigste rum i dit liv</h3>
                  <p>HTH lancerer ny kampagne i Skandinavien. &nbsp;
                    <a href="/om-os/nyheder.aspx#news12468">
                      <img src="../../images/news-arrow.png">
                    </a>
                  </p>
                </li>
                <li onclick="javascript:location.href='/om-os/nyheder.aspx#news12460'" class="DEMAND MORE clickable">
                  <p class="date">27. aug 2012</p>
                  <h3>DEMAND MORE</h3>
                  <p>Grundfos lancerer sin hidtil største marketingsatsning &nbsp;
                    <a href="/om-os/nyheder.aspx#news12460">
                      <img src="../../images/news-arrow.png">
                    </a>
                  </p>
                </li>
                <li onclick="javascript:location.href='/om-os/nyheder.aspx#news12456'" class="IDIOT-kampagne virker clickable">
                  <p class="date">22. aug 2012</p>
                  <h3>IDIOT-kampagne virker</h3>
                  <p>Fresh Fitness øger medlemstallet med 10 procent &nbsp;
                    <a href="/om-os/nyheder.aspx#news12456">
                      <img src="../../images/news-arrow.png">
                    </a>
                  </p>
                </li>
                <li onclick="javascript:location.href='/om-os/nyheder.aspx#news12449'" class="I ECHO finalen clickable">
                  <p class="date">17. aug 2012</p>
                  <h3>I ECHO finalen</h3>
                  <p>Vestas kampagne kvalificerer sig til international DM pris &nbsp;
                    <a href="/om-os/nyheder.aspx#news12449">
                      <img src="../../images/news-arrow.png">
                    </a>
                  </p>
                </li>
                <li onclick="javascript:location.href='/om-os/nyheder.aspx#news12440'" class="Al magt til generation Y clickable">
                  <p class="date">04. jul 2012</p>
                  <h3>Al magt til generation Y</h3>
                  <p>Ny international kampagne for OUTFITTERS NATION &nbsp;
                    <a href="/om-os/nyheder.aspx#news12440">
                      <img src="../../images/news-arrow.png">
                    </a>
                  </p>
                </li>
                <li onclick="javascript:location.href='/om-os/nyheder.aspx#news12375'" class="DM guld til Kunde &amp; Co clickable">
                  <p class="date">01. jun 2012</p>
                  <h3>DM guld til Kunde &amp; Co</h3>
                  <p>Hæder til Vestas' "Energy Transparency" kampagne &nbsp;
                    <a href="/om-os/nyheder.aspx#news12375">
                      <img src="../../images/news-arrow.png">
                    </a>
                  </p>
                </li>
                <li onclick="javascript:location.href='/om-os/nyheder.aspx#news12373'" class="Revisorer går til filmen clickable">
                  <p class="date">31. maj 2012</p>
                  <h3>Revisorer går til filmen</h3>
                  <p>Beierholm lancerer nye kundefilm på TV2 NEWS. &nbsp;
                    <a href="/om-os/nyheder.aspx#news12373">
                      <img src="../../images/news-arrow.png">
                    </a>
                  </p>
                </li>
                <li onclick="javascript:location.href='/om-os/nyheder.aspx#news12062'" class="Nyt look til PostNord clickable">
                  <p class="date">25. apr 2012</p>
                  <h3>Nyt look til PostNord</h3>
                  <p>Nyt fælles webkoncept binder fire store nordiske post- og logistik-virksomheder sammen &nbsp;
                    <a href="/om-os/nyheder.aspx#news12062">
                      <img src="../../images/news-arrow.png">
                    </a>
                  </p>
                </li>
                <li onclick="javascript:location.href='/om-os/nyheder.aspx#news12064'" class="Stofa gør det nemt clickable">
                  <p class="date">24. apr 2012</p>
                  <h3>Stofa gør det nemt</h3>
                  <p>Ny kampagne for Stofa er første synlige skridt i en omfattende strategiændring &nbsp;
                    <a href="/om-os/nyheder.aspx#news12064">
                      <img src="../../images/news-arrow.png">
                    </a>
                  </p>
                </li>
                <li onclick="javascript:location.href='/om-os/nyheder.aspx#news12052'" class="Fresh IDIOT-kampagne clickable">
                  <p class="date">12. apr 2012</p>
                  <h3>Fresh IDIOT-kampagne</h3>
                  <p>Reality-stjernerne Linse &amp; Gustav skal skabe awareness for Fresh Fitness &nbsp;
                    <a href="/om-os/nyheder.aspx#news12052">
                      <img src="../../images/news-arrow.png">
                    </a>
                  </p>
                </li>
                <li onclick="javascript:location.href='/om-os/nyheder.aspx#news11992'" class="Nothing left to doubt clickable">
                  <p class="date">23. mar 2012</p>
                  <h3>Nothing left to doubt</h3>
                  <p>Ny global kampagne for Vestas rydder enhver tvivl af vejen &nbsp;
                    <a href="/om-os/nyheder.aspx#news11992">
                      <img src="../../images/news-arrow.png">
                    </a>
                  </p>
                </li>
                <li onclick="javascript:location.href='/om-os/nyheder.aspx#news11052'" class="Ulvedans i Berlin clickable">
                  <p class="date">13. feb 2012</p>
                  <h3>Ulvedans i Berlin</h3>
                  <p>Grundfos kampagne launchet til 400 sælgere og marketingfolk samt 400 key accounts &nbsp;
                    <a href="/om-os/nyheder.aspx#news11052">
                      <img src="../../images/news-arrow.png">
                    </a>
                  </p>
                </li>
                <li onclick="javascript:location.href='/om-os/nyheder.aspx#news10731'" class="Danmarks bedste bureau clickable">
                  <p class="date">16. jan 2012</p>
                  <h3>Danmarks bedste bureau</h3>
                  <p>Kunde &amp; Co kåres som bureauet med det bedste image &nbsp;
                    <a href="/om-os/nyheder.aspx#news10731">
                      <img src="../../images/news-arrow.png">
                    </a>
                  </p>
                </li>
                <li onclick="javascript:location.href='/om-os/nyheder.aspx#news10990'" class="Er den våd, blød eller hård? clickable">
                  <p class="date">12. dec 2011</p>
                  <h3>Er den våd, blød eller hård?</h3>
                  <p>Kunde &amp; Co bag interaktiv film for GLS &nbsp;
                    <a href="/om-os/nyheder.aspx#news10990">
                      <img src="../../images/news-arrow.png">
                    </a>
                  </p>
                </li>
                <li onclick="javascript:location.href='/om-os/nyheder.aspx#news3680'" class="Logo for EU2012 i luften clickable">
                  <p class="date">08. okt 2011</p>
                  <h3>Logo for EU2012 i luften</h3>
                  <p>Kunde &amp; Co bag logo for EU-formandskab &nbsp;
                    <a href="/om-os/nyheder.aspx#news3680">
                      <img src="../../images/news-arrow.png">
                    </a>
                  </p>
                </li>
                <li onclick="javascript:location.href='/om-os/nyheder.aspx#news10494'" class="The Kunde Competition clickable">
                  <p class="date">03. okt 2011</p>
                  <h3>The Kunde Competition</h3>
                  <p>Strateger og kreative dyster i fællesskab &nbsp;
                    <a href="/om-os/nyheder.aspx#news10494">
                      <img src="../../images/news-arrow.png">
                    </a>
                  </p>
                </li>
                <li onclick="javascript:location.href='/om-os/nyheder.aspx#news10471'" class="Make Your Mark clickable">
                  <p class="date">10. aug 2011</p>
                  <h3>Make Your Mark</h3>
                  <p>Bestseller kampagne klar til 14 markeder &nbsp;
                    <a href="/om-os/nyheder.aspx#news10471">
                      <img src="../../images/news-arrow.png">
                    </a>
                  </p>
                </li>
                <li onclick="javascript:location.href='/om-os/nyheder.aspx#news9956'" class="’Kunden i Centrum’ clickable">
                  <p class="date">22. jun 2011</p>
                  <h3>’Kunden i Centrum’</h3>
                  <p>Kunde &amp; Co holder ’Kunden i Centrum’ seminar &nbsp;
                    <a href="/om-os/nyheder.aspx#news9956">
                      <img src="../../images/news-arrow.png">
                    </a>
                  </p>
                </li>
                <li onclick="javascript:location.href='/om-os/nyheder.aspx#news10493'" class="Kunde &amp; Co vinder Vestas clickable">
                  <p class="date">19. maj 2011</p>
                  <h3>Kunde &amp; Co vinder Vestas</h3>
                  <p>Vind skal på den globale dagsorden &nbsp;
                    <a href="/om-os/nyheder.aspx#news10493">
                      <img src="../../images/news-arrow.png">
                    </a>
                  </p>
                </li>
                <li onclick="javascript:location.href='/om-os/nyheder.aspx#news10470'" class="DONG Energy på NEWS clickable">
                  <p class="date">09. maj 2011</p>
                  <h3>DONG Energy på NEWS</h3>
                  <p>Klimapartnerskaber belyst med is og bjørne &nbsp;
                    <a href="/om-os/nyheder.aspx#news10470">
                      <img src="../../images/news-arrow.png">
                    </a>
                  </p>
                </li>
              </ul>
            </div>
            <div class="next"><a href="#" class="" style="display: block;">&nbsp;</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- page footer begin -->
@@include('../classic/page-foot.html')
<!-- page footer end -->


<!-- document bottom begin -->
@@include('../classic/doc-bot.html')
<!-- document bottom end -->
