html,
body {
	height: 100%;
} 
body {
	margin: 0;
	font:16px/22px Georgia, "Times New Roman", serif;
	color:#646464;
	background:#ebebe6 url(../images/bg-body.gif) repeat-x;
}
img { border-style: none; }
form, fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}
a{
	color:#963241;
	text-decoration:none;
}
a:hover{text-decoration:underline;}
input,
textarea,
select{
	color:#282828;
	font:16px Georgia, "Times New Roman", serif;
	vertical-align: middle;
}
#wrapper {
	margin: 0 auto;
	width: 996px;
	position:relative;
	min-height: 100%;
}
* html #wrapper {height: 100%;}
#header{
	overflow:hidden;
	width:100%;
	position:relative;
	padding:20px 0 10px;
}
.logo{
	width:214px;
	height:45px;
	margin:0 auto 21px;
	top:20px;
	left:386px;
	background:url(../images/logo.gif) no-repeat 1px 0;
	overflow:hidden;
}
.logo a{
	height:100%;
	display:block;
	overflow: hidden;
	text-indent: -9999px;
}
.search-bar{
	position:absolute;
	right:0;
	top:10px;
	z-index:10;
}
.search-form{float:left;}
.search-form fieldset{float:left;}
.search-form .search-txt{
	float:left;
	border:1px solid #e4e4e4;
	width:129px;
}
.search-form .search-txt input{
	float:left;
	border:0;
	margin:0;
	color:#323232;
	font:11px/14px Arial, Helvetica, sans-serif;
	padding:2px 3px;
	width:107px;
	background:#fff;
}
* html .search-form .search-txt input{
	padding:2px 4px;
	width:105px;
}
.search-form .search-txt .btn-search{
	padding:0;
	width:auto;
}
.lang-holder{
	float:left;
	position:relative;
	padding:0 10px 0 0;
}
.lang-holder .open{
	float:left;
	position:relative;
	padding:0 18px 0 5px;
	background:url(../images/btn-lang.gif) no-repeat 100% 0;
	font-size:12px;
	line-height:18px;
	color:#282828;
	text-transform:uppercase;
	height:20px;
}
.lang-list{
	position:absolute;
	top:21px;
	left:-9px;
	width:161px;
	display:none;
}
.lang-list .b,
.lang-list .t{
	overflow:hidden;
	width:100%;
	height:14px;
	font-size: 0;
	line-height: 0;	
}
.lang-list .t{background:url(../images/bg-lang-list-t.png) no-repeat;}
.lang-list .b{background:url(../images/bg-lang-list-b.png) no-repeat;}
.lang-list ul{
	margin:0;
	padding:5px 19px;
	list-style:none;
	overflow:hidden;
	height:1%;
	background:url(../images/bg-lang-list-c.png) repeat-y;
	font-size:12px;
	line-height:20px;
}
.lang-list .active{font-weight:bold;}
.lang-list a{
	display:block;
	padding:0 6px;
}
.lang-list a:hover{
	background:#d7d7d2;
	text-decoration:none;
}
.lang-holder .open:hover{
	color:#fff;
	background-position:100% -20px;
	text-decoration:none;
}
#nav{
	width:100%;
	overflow:hidden;
	position:relative;
	background:#963241;	
}
#nav div{
	position:relative;
	left:50%;
	float:left;
	text-align:center;
}
#nav ul{
	margin:0;
	padding:0;
	list-style:none;
	position:relative;
	float:left;
	left:-50%;
}
#nav ul li{
	float:left;
	font-size:18px;
	line-height:33px;
	text-transform:uppercase;
}
#nav ul li a{
	color:#fff;
	display:block;
	padding:0 12px 1px;
	margin:0 6px;
}
#nav ul li a:hover{
	text-decoration:none;
	background:url(../images/arrow-nav.gif) no-repeat 50% 100%;
}
#nav ul .active a,
#nav ul li a.active:hover{
	text-decoration:none;
	background:url(../images/bg-nav.gif) repeat-x;
}
.section{
	width:967px;
	padding:0 0 10px 29px;/* about */
	overflow:hidden;
	background: url(../images/ico-section02.gif) no-repeat;
}
* html .overview .section {overflow: visible;}
#content .section h2,
.section h2{
	margin:0;
	font-size:16px;
	line-height:22px;
	font-weight:normal;
	text-transform:uppercase;
	color:#323232;
	padding:0;
}
.section .breadcrumbs{
	margin:0;
	padding:0;
	overflow:hidden;
	list-style:none;
	float: left;
}
.section .breadcrumbs li{
	background:url("../images/separator.gif") no-repeat 0 4px;
	color:#323232;
	display:inline;
	float:left;
	font-size:16px;
	line-height:20px;
	margin:0 9px 0 -9px;
	padding:0 0 0 9px;
	text-transform:uppercase;
}
.section .breadcrumbs .text-contact{
	font-size: 18px;
	line-height: 22px;
	margin-bottom: -2px;
}
.section .breadcrumbs li a{
	color:#963241;
	padding-left:9px;
	margin:0 0 0 -9px;
	background:url(../images/separator.gif) no-repeat 0 -30px;
	float:left;
}
.section .breadcrumbs li a:hover{
	color:#323232;
	text-decoration:none;
	background:none;
}
.paging{
	margin:0;
	padding:1px 0 0;
	float:right;
	list-style:none;
	font-size:13px;
	line-height:19px;
	color:#646464;
	text-transform:uppercase;
	letter-spacing:1px;
}
.paging li{float:left;}
.paging li a{color:#963241;}
.paging strong,
.paging a:hover{
	text-decoration:none;
	color:#646464;
}
.paging .prev,
.paging .next{
	margin:0;
	padding:0 0 0 11px;
	display:block;
	overflow:hidden;
	background:url(../images/bg-paging.gif) no-repeat 0 -12px;
	font-weight:normal;
}
.paging .next{
	padding:0 9px 0 0;
	background-position:100% -50px;
}
.paging strong.prev,
.paging .prev:hover{background-position:0 6px;}
.paging strong.next,
.paging .next:hover{background-position:100% -30px;}
.paging .page{
	padding:0 7px;
	color:#323232;
}
.paging .page span{
	background:url(../images/bullet-breadcrumbs.gif) no-repeat 0 8px;
	float:left;
	width:4px;
}
#main{
	width:100%;
	overflow:hidden;
	padding:20px 0 35px;
	border-top:1px solid #000;
}
.services #main {
	padding:20px 0 65px;
}
.international #main {
	padding:20px 0 124px;
}
.home #main {
	padding:20px 0 64px;
}
.contact #main {padding:20px 0 88px;}
.cases #main {padding:20px 0 74px;}
.overview #main {padding:20px 0 17px;}
.side-list{
	margin:-8px 0 0;
	padding:0;
	list-style:none;
	width:100%;
	overflow:hidden;
	position:relative;
}
.side-list li{
	margin:0 0 7px;
	font-size:18px;
	line-height:21px;
	overflow:hidden;
	width:100%;
	vertical-align:middle;
}
.side-list li a{
	color:#963241;
	padding-left:15px;
	background:url(../images/bull.gif) no-repeat 0 8px;
	float:left;
}
.home .side-list li a {
	padding-left:16px;
}
.overview .side-list li a {
	padding-left:15px;
}
.tags li a {
	padding-left:10px;
}
.side-list li a:hover,
.side-list li a.active{
	color:#282828;
	text-decoration:none;
	background:url(../images/bull-1.gif) no-repeat 0 8px;
}
.side-list ul{
	clear:both;
	margin:0 0 9px 15px;
	padding:17px 0 0;
	list-style:none;
	overflow:hidden;
	height:1%;
	background:url(../images/separator1.gif) repeat-x 0 100%;
}
.international .side-list ul li,
.public .side-list ul li{
	padding:8px 0 0;
	margin:0 0 11px;
	background:url(../images/separator1.gif) repeat-x;
	font-size:16px;
}
.public .side-list ul li {
	padding:8px 0 0 4px;
}
.side-list ul li a.active,
.side-list ul li a:hover,
.side-list ul li a{
	background:none;
	padding:0;
}
.tags li{
	font-size:16px;
	line-height:20px;
	margin:0 0 2px;
}
.overview .tags li {
	margin: 0;
}
#content{
	overflow:hidden;
	height:1%;
}
.error .columns #content {
	position:relative;
	top:-10px;
}
#content .holder{
	height:1%;
	padding-bottom:20px;
	margin-bottom:30px;
	border-bottom:1px solid #000;
	overflow:hidden;
}
#content .image-holder{
	overflow:hidden;
	width:100%;
	border-bottom:1px solid #000;
	padding:0 0 20px;
	margin:0 0 30px;
}
#content .image-holder img{
	float:right;
	margin:0 0 0 10px;
}
.ttl-holder{
	overflow:hidden;
	width:100%;
	padding:0 0 30px;
}
.ttl-holder img{
	float:right;
	margin:0 0 0 40px;
}
* html .ttl-holder img{margin-left:37px;}
.main-ttl{
	overflow:hidden;
	height:1%;
	color:#323232;
	padding:0 0 17px;
	display:table;
}
.services .main-ttl {
	padding:10px 0 29px;
}
.search .main-ttl {
	padding:10px 0 18px;
}
.public .main-ttl{
	display:block;
	padding:0 0 30px;
}
.public2 .main-ttl{
	padding:0 0 7px;
}
.main-ttl .img-holder{
	float:none;
	display:table-cell;
	vertical-align:middle;
	padding:47px 0 0 18px;
}
.international .main-ttl .img-holder {
	padding:48px 0 0 18px;
}
.services .main-ttl .img-holder {
	display:block;
	float:right;
	margin:-2px 0 0;
	padding:0 0 0 16px;
}
* html .services .main-ttl .img-holder {
	margin: 0;
}
* +html .services .main-ttl .img-holder {
	margin: 0;
}
.main-ttl .text{
	width:490px;
	float:left;
}
.international .main-ttl {padding:0 0 10px;}
.about .main-ttl {padding:0 0 10px}
.aside .main-ttl{margin:-8px 0 3px;}
.cases .aside .main-ttl{margin:-8px 0 3px;}
#main .main-ttl h2{
	background:url("../images/circle.gif") no-repeat 0 9px;
	color:#323232;
	font-size:48px;
	font-weight:normal;
	line-height:46px;
	margin:0;
	padding:14px 0 17px 72px;
}
.search #main .main-ttl h2 {
	background-position:0 7px;
	padding:11px 0 19px 72px;
}
.public #main .main-ttl h2 {
	background-position:0 9px;
	padding:13px 0 17px 72px;
}
.public1 #main .main-ttl h2 {padding:10px 0 21px 72px;}
.public3 #main .main-ttl h2 {padding:8px 0 32px 75px;}
.error #main .main-ttl h2 {padding:9px 0 22px 75px;}
#main .main-ttl-i h2{background:url("../images/circle02.gif") no-repeat 0 9px;}
#main .main-ttl h2 a{
	color:#963241;
	display:block;
}
#main .main-ttl h2 a:hover{
	text-decoration:none;
	color:#323232;
}
.main-ttl p{
	font-size:48px !important;
	line-height:52px !important;
	margin:0 !important;
	color:#323232 !important;
	background:url(../images/circle02.gif) no-repeat 0 0 !important;
	padding:63px 0 11px !important;
}
.about .main-ttl p {
	padding:65px 0 11px !important;
}
.international .main-ttl p {
	padding:64px 0 11px !important;
}
.services .main-ttl p {
	padding:67px 0 11px !important;
}
.home .main-ttl p {
	padding:65px 0 11px !important;
}
.main-ttl .text-holder {
	float:left;
	overflow:hidden;
	width:363px;
}
.main-ttl .small-letter{
	font-size:38px !important;
	line-height:42px !important;
}
#main .aside .main-ttl h2{
	font-size:28px;
	line-height:32px;
	text-transform:none;
	padding:69px 0 0 !important;
}
.cases #main .aside .main-ttl h2 {
	padding:80px 0 0 !important;
}
.aside .ttl{
	color:#787878;
	font-size:16px;
	line-height:18px;
	text-transform:uppercase;
	display:block;
	margin:0 0 17px;
}
.img-hold{padding:75px 0 0;}
.img-hold img{display:block;}
.more{
	font-style:italic;
	font-size:18px;
	line-height:20px;
	color:#963241;
}
.more:hover{
	text-decoration:none;
	color:#323232;
}
#content .section{
	padding:20px 0 20px 30px;
	border-top:6px solid #000;
	border-bottom:1px solid #000;
	background-position:0 20px;
}
.contact-wrapp{
	height:1%;
	padding:20px 0 30px;
	overflow:hidden;
}
.contact .contact-wrapp {
	padding:11px 0 29px;
}
.contact-holder{
	height:1%;
	padding:20px 0 30px;
	overflow:hidden;
	line-height:20px;
}
.public2 .contact-holder {
	padding:9px 0 32px;
}
.public3 .contact-holder {
	padding:12px 0 32px;
}
.contact-wrapp .title,
.contact-wrapp p span,
.contact-holder p span,
.contact-holder .title{
	color:#963241;
	font-weight: normal;
}
.contact-wrapp p,
.contact-holder p{margin:0 0 20px;line-height:20px;}
.contact-wrapp p a,
.contact-holder p a{color:#963241;}
.contact-form{
	width:488px;
	float:none;
	color:#323232;
	overflow:hidden;
}
.contact-wrapp .contact-form{
	width:361px;
	padding-left:163px;
	float:right;
}
#content .contact-form p{margin:0 0 5px;}
.form-block{
	overflow:hidden;
	width:100%;
	padding:13px 0 20px;
	border-top:1px solid #646464;
	margin:-1px 0 1px;
}
.contact-form h4{
	color:#963241;
	margin:0;
	font-size:16px;
	line-height:20px;
	font-weight:normal;
}
.contact-form .col{
	float:left;
	padding:3px 20px 1px 0;
}
.contact-form .col label{
	font-size:12px;
	line-height:14px;
	color:#787873;
	text-transform:uppercase;
	padding-bottom:10px;
}
#main .contact-form .alignright{
	padding:3px 0 0 !important;
	text-align:right;
}
.contact-form .col select{
	font:11px Arial, Helvetica, sans-serif;
	color:#000;
}
.sel-item{width:170px;}
.sel-lang{width:96px;}
.sel-copies{width:54px;}
.contact-form .row{
	float: left;
	width: 100%;
	padding-bottom:17px;
	clear: both;
}
.contact-form .row01{margin:-3px 0 2px;}
.contact-form .row .check{
	float:left;
	height:16px;
	margin:3px 10px 0 0;
	padding:0;
	width:16px;
	display: inline;
}
.btn-order{width:68px !important;}
.contact-form label{
	display:block;
	padding-bottom:4px;
	color:#323232;
}
* html .contact-form label{
	padding-bottom:3px;
}
.contact-form label span{
	padding-right:7px;
	background:url(../images/bull-2.gif) no-repeat 100% 3px;
}
.contact-form .text{
	border:0 none;
	color:#787878;
	float:right;
	height:18px;
	padding:5px 5px 7px 8px;
	width:221px;
}
.contact-wrapp .contact-form .text{width:157px;}
.contact-form .row div{
	float:left;
	padding:0 19px 0 0;
	width:234px;
}
.contact-wrapp .contact-form .row div{width:170px;}
.contact-form .address-text{width:475px;}
.contact-form textarea{
	width:351px;
	max-width:351px;
	height:112px;
	padding:5px;
	border:0;
	overflow:auto;
}
.total{
	margin:0 0 -4px;
	padding:0;
	width:100%;
	overflow:hidden;
}
.total dt,
.total dd{
	margin:0;
	float:left;
}
.total dd{float:right;}
.contact-form .btn-send{
	width:58px;
	height:30px;
	color:#fff;
	padding:2px 0 5px;
	text-align:center;
	border:0;
	cursor:pointer;
	font-size:14px;
	margin:-4px 0 0;
	position: relative;
	text-transform:uppercase;
	background:url(../images/btn-submit1.gif) repeat-x;
}
.contact .contact-form .btn-send {
	margin:0;
}
.contact-form .btn-send.hover,
.contact-form .btn-send:hover{background-position:0 -35px;}
#content .box{
	width:100%;
	padding:7px 0 29px;
	border-top:1px solid #646464;
	overflow:hidden;
	line-height:20px;
}
#wrapper #content .box1{padding:26px 0;}
#wrapper #content .box02{padding:7px 0 31px;}
#wrapper #content .box1 p {
	line-height:20px;
	padding:0 0 20px;
}
.public #content .box {padding:20px 0 26px;}
.cases #content .block .box{padding:18px 0 9px;}
.international #content .box {padding:20px 0 34px;}
.post #content .box {padding:20px 0 26px;}
.post #content .box-next {padding:28px 0 26px;}
#content .box .image{
	width:361px;
	float:right;
	padding:22px 0 0 30px;
}
#content .box .image img{display:block;}
#content .box h3{
	font-size:34px;
	line-height:36px;
	color:#323232;
	font-weight:normal;
	margin:0 0 38px;
}
#content .box span.info{
	display:block;
	margin:-33px 0 20px;
}
.box address{
	width:180px;
	font-style:normal;
}
.post #content .box-next .keywords {
	padding:14px 0 12px;
}
.box dl{margin:0;}
.box dl dt{display:inline;}
.box dl dd{
	margin:0;
	display:inline;
	font-size:16px;
}
.box dl dd a{color:#963241;}
.columns{
	overflow:hidden;
	height:1%;
	padding:30px 0 25px;
	margin:-31px 0 32px;
	border-top:1px solid #000;
}
.home .columns {
	margin:-31px 0 32px;
}
.overview .columns {
	margin:-34px 0 31px;
}
.about .columns {
	margin:-31px 0 0;
	padding:30px 0 109px;
}
.visual{
	overflow:hidden;
	height:1%;
}
.visual p{margin:0}
.visual div{padding:13px 0 0;}
.visual img{display:block;}
.visual div .paging{padding:2px 0 0}
.visual div .paging .page{padding:0 8px}
.aside .sub-ttl{
	font-size:28px;
	display:block;
	margin:0 0 25px;
}
.aside{
	width:234px;
	float:left;
	margin:0 20px 0 0;
	display:inline;
	padding:0;
	color:#282828;
}
.post .aside {
	margin:4px 19px 0 0;
}
.overview .aside {margin:0px 20px 0 0;}
* html .aside{margin-right:17px}
* html .overview .aside{margin-right:17px}
.aside .info{
	overflow: hidden;
	width:100%;
	padding:0 0 10px;
}
.aside .info-i{padding:0 0 9px;}
.aside .info .article{padding:14px 0 17px}
.aside-r,
.post .aside-r{
	float:right;
	margin:0 0 0 20px;
}
.public .aside-r {
	margin:0 0 0 20px;
	top: -10px;
	position: relative;
}
.public1 .aside-r {
	top:-9px;
}
* html .aside-r{margin:0 0 0 17px !important;}
.columns #content,
.columns .main-text{
	height:1%;
	overflow:hidden;
	position:relative;
	top:-9px;
}
.home .columns #content,
.international .columns #content {top:0;}
.public2 .columns .main-text {
	top:-1px;
}
.home .columns .main-text {
	top:1px;
}
.international .columns .main-text {
	top:0;
}
.overview .columns #content {
	top:-1px;
}
.home .columns #content {
	top:0;
}
.public3 .columns #content{
	top:-9px;
}
.about .columns #content {
	top:-1px;
}
.public1 .columns #content {
	top:-9px;
}
.aside .article{
	height:1%;
	padding:14px 0 12px;
	background:url(../images/separator1.gif) repeat-x;
	margin:-1px 0 1px;
	color:#646464;
	font-size:14px;
	line-height:18px;
}
.public .aside .article {
	padding:16px 0 13px 3px;
}
.article-holder{
	overflow:hidden;
	height:1%;
	padding:0 0 0 75px;
	background:url(../images/bg-res.gif) no-repeat 0 50%;
}
.excl{background:url(../images/bg-excl.gif) no-repeat 0 50%;}
.eql{background:url(../images/bg-eql.gif) no-repeat 0 50%;}
.aside .article h4{
	font-size:16px;
	line-height:18px;
	font-weight:normal;
	margin:0;
	color:#963241;
	padding:0 0 5px;
}
.cases .aside .article h4 {padding:0;}
.cases .aside-r .article h4 {padding:0 0 6px;}
.aside .article h4 a{color:#963241;}
.aside .article h4 a:hover{
	color:#323232;
	text-decoration:none;
}
.aside .article ul{
	margin:0;
	padding:5px 0 0;
	list-style:none;
}
.aside .article ul li{
	background:url(../images/bull-3.gif) no-repeat 0 9px;
	padding:0 0 0 10px;
	margin:0 0 6px;
}
.aside .article p{
	margin:0;
}
.heading{
	overflow:hidden;
	height:1%;
	border-top:6px solid #d7d7d2;
	border-bottom:1px solid #646464;
	background:url(../images/ico-section02.gif) no-repeat 0 11px;
	padding:11px 0 12px 28px;
}
.international .heading {
	padding:11px 0 11px 28px;
}
.public2 .heading {
	padding:8px 0 9px 28px;
}
.public3 .heading {
	padding:8px 0 8px 28px;
}
.heading02{
	padding:10px 0 11px 28px;
	background-position: 0 9px;
}
.heading03{padding:11px 0 12px 29px;}
.home .heading{
	padding:17px 0 22px 28px;
	background-position:0 19px;
}
.home #content .heading {
	background-position:0 21px;
	padding:20px 0 19px 25px;
}
.home .heading h2{
	font-size:19px !important;
	line-height:20px !important;
}
.big-heading{
	padding:22px 0 16px 27px;
	background-position:0 21px;
	margin:0 0 4px;
}
#content .big-heading h2{
	font-size:18px;
	line-height:20px;
}
.heading-bd-no{border-bottom:0;}
.services .heading-bd-no {
	border-bottom:0 none;
	padding:12px 0 10px 28px;
}
.heading .date{
	font-style:normal;
	font-size:12px !important;
	line-height:12px !important;
	background:url(../images/bullet-date.gif) no-repeat 5px 50%;
	padding:0 0 0 14px !important;
	color:#787873 !important;
}
.home .heading .date{
	padding:0 0 0 10px !important;
	background:url(../images/bullet-date.gif) no-repeat 0 50%;
	word-spacing:-3px;
}
#content .heading *,
.heading *{
	font-size:16px;
	line-height:18px;
	color:#323232;
	margin:0;
	padding:0;
	text-transform:uppercase;
	font-weight:normal;
}
#content .heading strong{font-weight:bold !important;}
.public2 #content .heading * {
	font-size:19px;
	line-height:24px;
}
html .public2 #content .heading h2 {
	font-size:16px;
	line-height:23px;
}
#main .content-heading{
	background:none;
	padding:10px 0 6px;
	border-bottom:0;
}
.cases #main .content-heading{
	border-top:6px solid #D7D7D2;
	margin:9px 0 0;
	padding:11px 0 6px;
}
.cases #main .content-heading02{padding-bottom: 5px;}
#main .content-heading *{
	font-size:48px;
	line-height:52px;
	margin:0;
	color:#323232;
	text-transform:none;
}
#content h2,
.main-text h2{
	font-size:40px;
	line-height:46px;
	margin:0;
	padding:0 0 12px;
}
#content h3{
	font-size:38px;
	line-height:42px;
	color:#323232;
	margin:0 0 14px;
	font-weight:normal;
}
.columns #content .text-box,
.columns .main-text .text-box{
	padding:20px 0;
	margin:-1px 0 15px;
	border:solid #646464;
	border-width:1px 0;
}
.columns #content .text-box p,
.columns .main-text .text-box p{
	font-size:24px;
	line-height:30px;
}
.columns .main-text p{
	margin:0;
	line-height:22px;
}
.public3 .columns .main-text p {
	line-height:20px;
	margin:0;
}
.international .columns .main-text p{line-height:20px;}
.international .columns .main-text .newsletter-form p{line-height:18px;}
.columns h5{
	margin:0;
	font-size:16px;
	line-height:22px;
}
.columns .column-r h4{color:#282828;}
.columns .column-r p{margin:0 0 20px;}
.aside .last-projects{
	margin:0;
	padding:0 0 9px;
	list-style:none;
	overflow:hidden;
}
.aside .last-projects li{
	width: 100%;
	display: table;
	margin:-1px 0 1px;
	padding:20px 0;
	border-top:1px solid #646464;
	vertical-align:middle;
}
.aside .last-projects li img{
	float:left;
	margin:0 20px 0 0;
}
.aside .last-projects .text-holder {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}
.international .aside .last-projects .text-hold{
	position:relative;
	top:-1px;
}
.aside .last-projects .text-hold h3{
	letter-spacing:-1px;
	margin:0;
	font: normal 16px/22px Georgia, "Times New Roman", serif;
}
* html .aside .last-projects .text-hold h3{line-height:20px;}
.aside .last-projects .text-hold h3 a{
	color:#963241;
	padding:0 !important;
	background:none;
}
.aside .last-projects .text-hold h3 a:hover{
	background:none;
	color:#323232;
	text-decoration:none;
}
.aside .last-projects .text-hold span{
	color:#646464;
	font-size:14px;
	line-height:16px;
	display:block;
	position:relative;
}
.blockquote{
	overflow:hidden;
	width:100%;
	font-size:20px;
	line-height:24px;
	color:#646464;
	font-style:italic;
	padding:17px 0;
}
.blockquote p{margin:0}
.blockquote blockquote{margin:0}
.blockquote q{
	quotes: none;
	display:block;
	padding:0 0 13px;
}
.blockquote q:before{content:"";}
.blockquote q:after{content:"";}
.blockquote cite{
	font-style:normal;
	font-size:16px;
}
#content blockquote{margin:-1px 0 20px;}
#wrapper #content .box1 blockquote q {
	line-height:34px;
	padding:0 0 16px;
}
.public #content blockquote{margin:3px 0 20px;}
.international #content blockquote{margin:0 0 26px}
#content blockquote q{
	quotes: none;
	display:block;
	padding:0 0 20px;
	color:#963241;
	font-style:italic;
	font-size:28px;
	line-height:33px;
}
.international #content .block blockquote p,
#content .block blockquote p{
	padding:0 0 15px;/*cases*/
}
#content blockquote q:before{content:"";}
#content blockquote q:after{content:"";}
#content blockquote cite{
	font-style:normal;
	font-size:16px;
	color:#646464;
}
#content .block{
	overflow:hidden;
	width:100%;
	color:#646464;
	line-height:22px;
	margin:0 0 30px;
	padding:16px 0 0;
}

.home #content .block{
	padding:15px 0 0;
}
.blog #content .block{padding:14px 0 0}
#content .block h4{
	color:#963241;
	font-size:16px;
	line-height:20px;
	margin:0;
	font-weight:normal;
}
#content .block p{
	margin:0;
	padding:0 0 26px;/*cases*/
}
.international #content .block p{padding:0 0 5px}
.international #content .block .block-holder p{padding:0 0 20px}
#content .block .block-holder p{
	padding:0 0 15px;/*cases*/
}
#content .block .block-holder p.pad{padding:0 0 11px;}
.post #content .block p {
	line-height:20px;
	padding:0 0 20px;
}
#content .block .box .mark{
	font-size:24px;
	line-height:30px;
	padding:0 0 15px;/*cases*/
}
#content .block .mark1{
	font-size:22px !important;
	line-height:26px !important;
	padding:0 !important;
}
.alignleft{
	float:left !important;
	padding:0 20px 20px 0 !important;
}
.international .alignleft{padding:5px 20px 20px 0 !important;}
.alignright{
	float:right !important;
	padding:0 0 20px 20px !important;
}
.international .alignright{padding:5px 0 20px 20px !important;}
.block-wrap{margin:-16px 0 0;}
.block-holder,
.block-holder-next{
	overflow:hidden;
	width:100%;
	padding:4px 0 10px;/* cases*/
	line-height:20px;
}
.cases .block-holder {
	padding:4px 0 12px;
}
.block-holder-next {
	padding:4px 0 0;
}
.cases #content .block-holder-next p {
	padding:0 0 19px;
}
.international .block-holder{
	padding:14px 0 10px;
	font-size:17px;
}
.international .block-holder p{
	line-height:20px;
}
.home .block-holder,
.blog .block-holder{
	line-height:22px;
	font-size:17px;
	padding:0 0 10px;
}
.post .block-holder {padding:0 0 8px;}
.block-holder .img-holder{
	float: left;
	padding:5px 20px 20px 0;
}
.international .block-holder .img-holder{padding:2px 20px 19px 0;}
.home .block-holder .img-holder,
.blog .block-holder .img-holder{padding:9px 20px 20px 0;}
* html .home .block-holder .img-holder,
* html .blog .block-holder .img-holder{margin:0 -3px 0 0;}
* html .block-holder .img-holder{margin:0 -3px 0 0;}
* html .block-holder .alignright{margin:0 0 0 -3px;}
.block-holder img{display: block;}
.btn-list{
	margin:0;
	padding:10px 0;
	list-style:none;
	border-top:1px solid #646464;
	overflow:hidden;
	width:100%;
}
.post #content .box-next .btn-list {
	margin:5px 0 0;
}
.btn-list li{
	float:left;
	padding:0 5px 0 0;
}
.btn1{
	float:left;
	padding:0 5px;
	color:#fff;
	font-size:12px;
	line-height:19px;
	text-transform:uppercase;
	background:url(../images/btn1.gif) repeat-x;
}
.btn1:hover{
	background-position:0 -50px;
	text-decoration:none;
}
.keywords,
.gallery-wrap .keywords {
	overflow: hidden;
	height: 1%;
	padding:14px 0 16px;
	border:solid #646464;
	border-width:1px 0;
}
.services .keywords {
	padding:11px 0 13px;
}
.keywords dl,
.gallery-wrap .keywords dl{
	margin:0;
	float: left;
	color:#787873;
	font-size:12px;
	text-transform:uppercase;
	text-align:left;
}
.public .keywords{padding:11px 0 13px !important;}
.home .keywords,
.blog .keywords {padding:12px 0 !important;}
.cases .keywords {padding:12px 0 14px }
.gallery-wrap .keywords dt,
.gallery-wrap .keywords dd,
.keywords dt,
.keywords dd{
	margin:0;
	display:inline;
	text-transform:uppercase;
}
.keywords dd{
	text-transform:none;
	font-size:16px;
}
.gallery-wrap .keywords dt,
.keywords dt{padding:0 4px 0 2px;}
.gallery-wrap .keywords a{
	color:#963241;
	font-size:16px;
	line-height:17px;
	padding:0 4px 0 0;
	text-transform:none;
	font-style:normal;
	margin: 0;
}
.gallery-wrap .keywords a:hover{
	color:#323232;
	text-decoration:none;
}
.more-holder{text-align:center;margin:-7px 0 0;}
.search .more-holder {
	margin:-3px 0 0;
}

.post-info{
	overflow:hidden;
	width:100%;
	padding:14px 0 29px;
}
.post-info-ttl{
	display:block;
	margin:0 0 5px;
	font-weight:normal;
}
.aside .blog-info{
	padding:18px 0 23px;
	margin:0;
	list-style:none;
}
.aside .post-info ul{
	margin:0;
	padding:0;
	list-style:none;
}
.aside .blog-info li,
.aside .post-info ul li{
	font-size:16px;
	line-height:16px;
	margin:0 0 8px;
}
.aside .blog-info li a,
.aside .post-info ul li a{
	padding:0;
	background:none;
}
.aside .blog-info li a:hover,
.aside .post-info ul li a:hover{background:none;}
.aside ol{
	margin:0;
	padding:13px 0 13px;
	list-style:none;
	overflow:hidden;
	width:100%;
}
.home .aside ol {
	padding:15px 0 13px;
}
.aside ol li{
	padding:0 0 2px 30px;
	overflow:hidden;
	height:1%;
	vertical-align:middle;
}
.aside ol li .number{
	float:left;
	margin:0 0 0 -30px;
}
.aside ol li a{
	color:#963241;
	float:left;
}
.aside ol li a:hover{
	color:#282828;
	text-decoration:none;
}
.newsletter-form .error,
.contact-wrapp .contact-form .error,
.contact-form .error {
	border:1px solid #FF0000;
	padding:4px 4px 5px;
}
.hidden {display:none !important;}
.newsletter-form{
	overflow:hidden;
	width:100%;
	padding:10px 0 0;
}
.cases .newsletter-form {
	margin:-1px 0 0;
}
.blog .newsletter-form {
	padding:9px 0 0;
}
.newsletter-form fieldset{
	overflow:hidden;
	width:194px;
	padding:14px 20px 20px;
	background:#69232d url(../images/bg-form.gif) repeat-x;
}
.search .newsletter-form fieldset {
	padding:11px 20px 20px;
}
.newsletter-form p{
	color:#fff;
	font-size:14px;
	line-height:18px;
	margin:0 0 8px;
	padding:0;
}
.numbered-list {
	overflow: hidden;
	height: 1%;
}
.home .numbered-list .heading {
	background-position:2px 20px;
	padding:19px 0 22px 29px;
}
.numbered-list .aside ol {
 	padding:15px 0 13px;
}
.newsletter-form .text-holder {
	overflow: hidden;
	height: 1%;
	padding:0 0 10px;
}
#content .newsletter-form h2,
.newsletter-form h2{
	color:#fff;
	font-size:18px;
	line-height:22px;
	font-weight:normal;
	border-bottom:1px solid #fff;
	padding:0 0 16px;
	text-transform:uppercase;
	margin:0 0 15px;
}
.home .newsletter-form h2 {
	margin:0 0 12px;
	padding:0 0 17px;
}
.blog .newsletter-form h2 {
	margin:0 0 11px;
}
.international .newsletter-form h2{margin:0 0 12px !important}
.international .newsletter-form p{padding:0 0 12px;}
.international .newsletter-form .text-holder{padding:0;}
.related-stories{
	overflow:hidden;
	width:100%;
}
.related-stories .article{padding:14px 0 17px 1px;}/* blog */
.blog .related-stories .article{padding:14px 0 18px;}
.international .related-stories{
	padding:4px 0 0;
	margin:4px 0 -5px;
}
html .post .related-stories .article {
	margin:-5px 0 5px;
	padding:14px 0 18px;
}
.post .related-stories {
	margin:0 0 -5px;
	padding:4px 0 0;
}
.international .related-stories .article{
	padding:14px 0 16px;
	margin:-5px 0 5px;
}
.email-us{
	float:right;
	color:#fff;
	font-style:italic;
	margin:4px 0 0;
}
.newsletter-form .row{
	float:left;
	width:100%;
	padding:0 0 5px;
}
.newsletter-form label{
	color:#fff;
	font-style:italic;
	float:left;
	width:100%;
	margin:0 0 5px;
}
.search .main-search label {
	font-style: normal;
}
.newsletter-form input{
	width:184px;
	height:19px;
	padding:5px 5px 6px;
	border:0;
	background:#fff;
	line-height:16px;
	margin:0;
	float:left;
}
* html .newsletter-form input{padding:6px 5px 5px;}
* + html .newsletter-form input{padding:6px 5px 5px;}
.btn-holder{
	overflow:hidden;
	padding:15px 3px 0 0;
	clear:both;
}
* html .btn-holder{
	padding:15px 0 0;
	overflow: visible;
	height: 1%;
}
.subscript-form fieldset{
	overflow:hidden;
	width:100%;
	border-top:1px solid #646464;
	padding:15px 0 0;
}
.subscript-form .btn-submit,
.newsletter-form .btn-submit{
	background:url(../images/btn-submit.gif) repeat-x;
	padding:0 0 2px;
	height:30px;
	width:60px;
	font-size:14px;
	line-height:30px;
	text-transform:uppercase;
}
* html .newsletter-form .btn-submit{padding:0;}
* + html .newsletter-form .btn-submit{padding:0;}
* html .subscript-form .btn-submit{padding:0;}
* + html .subscript-form .btn-submit{padding:0;}
.subscript-form .btn-submit.hover,
.subscript-form .btn-submit:hover,
.newsletter-form .btn-submit.hover,
.newsletter-form .btn-submit:hover{
	background-position:0 -30px;
	cursor:pointer;
	color:#323232;
}
.newsletter-form .sumbit1{width:80px;}
.sort-ttl{
	overflow:hidden;
	width:100%;
	border-bottom:1px solid #646464;
	padding:0 0 18px 1px;
	margin:0;
}
.sort-ttl *{
	color:#282828;
	font-size:18px;
	line-height:18px;
	text-transform:uppercase;
	font-weight:normal;
	margin:0;
}
.sort-box{
	overflow:hidden;
	width:100%;
	background:url(../images/separator1.gif) repeat-x;
	margin:-1px 0 1px;
	padding:19px 0;
}
.overview .sort-box {padding:15px 0 20px;}
.overview .side-list-next {padding:17px 0 20px;}
.sort-box .side-list{margin:0 !important;}
.sort-box h4{
	margin:0 0 5px;
	color:#282828;
	font-size:16px;
	line-height:18px;
	font-weight:normal;
}
#content .gallery-wrap{
	overflow:hidden;
	width:100%;
	padding:19px 0 0;
}
#content .gallery{
	margin:0;
	padding:0;
	list-style:none;
	overflow:hidden;
	width:110%;
	border-bottom:1px solid #646464;
}
.overview #content .gallery{
	padding-bottom: 1px;
	margin:-12px 0 13px;
}
#content .gallery li{
	display:inline;
	float:left;
	margin:0 24px 0 -14px;
	padding:0 0 26px 14px;
	text-align:center;
	vertical-align:top;
	width:230px;
}
.services #content .gallery li {
	display:inline-block;
	float:none;
	margin:0 21px 0 -11px;
	padding:20px 0 26px 10px;
}
* html .services #content .gallery li {
	display: inline;
}
* +html .services #content .gallery li {
	display: inline;
}
.overview #content .gallery li {
	padding:11px 0 28px 14px;
}
.gall-hold{
	left:4px;
	position:relative;
	top:-1px;
}
#content .more-indent li{
	padding:0 0 37px 16px;
}
#content .gallery li img{
	margin:0 0 22px;/* error */
	vertical-align:top;
}
.overview #content .gallery li img{margin:0 0 14px;}
.public #content .gallery li img{margin:0 0 18px;}
.about #content .gallery li img{margin:0 0 16px;}
#content .gallery h3{
	font-size:24px;
	line-height:28px;
	margin:0 0 6px;
	font-weight:normal;
	vertical-align:top;
}
#content .gallery h3 a{color:#963241;}
#content .gallery h3 a:hover{
	color:#282828;
	text-decoration:none;
}
#content .border-top{padding:0;}
#content .border-top .gallery{border:0;}
#content .border-top li{
	background:url(../images/separator2.gif) no-repeat 100% 0;
	padding-top:20px;
}
.gallery .brand{
	display:block;
	margin:0 0 7px;
	font-size:18px;
	line-height:20px;
	color:#282828;
	font-weight:normal;
}
.gallery .practice{
	display:block;
	color:#787873;
	text-transform:uppercase;
	font-size:12px;
	line-height:14px;
}
.gallery-wrap dl{
	margin:0;
	padding:0;
	text-align:right;
	font-size:14px;
	line-height:16px;
}
.gallery-wrap .paging1{margin:-23px 2px 18px;}
.gallery-wrap dt,
.gallery-wrap dd{
	display:inline;
	margin:0;
	padding:0 0 0 2px;
}
.gallery-wrap dl a{
	margin:0 0 0 7px;
	font-style:italic;
}
.gallery-wrap dl .active:hover,
.gallery-wrap dl .active{
	text-decoration:none;
	color:#323232;
}
.gallery-wrap dl a:hover{
	text-decoration:underline;
	color:#323232;
}
.gallery .text-holder{
	text-align:left;
	font-size:16px;
	line-height:20px;
}
#content .gallery .text-holder h3{
	font-size:16px;
	line-height:20px;
	margin:0 0 11px;
}
.public #content .gallery .text-holder h3 {
	font-size:16px;
	line-height:20px;
	margin:0 0 8px;
}
#content .gallery .text-holder p{margin:0;}
#wrapper .border-no{
	border:0;
	padding:0;
}
.img-holder{
	float:right;
	padding:0 0 0 19px;
}
.block-holder-next .img-holder {
	float: left;
	padding:5px 19px 20px 0;
}
.img-holder img{display:block;}
.main-img-holder{
	overflow:hidden;
	width:100%;
	padding:20px 0 10px;
}
.public .main-img-holder {
	padding:5px 0 10px;
}
.main-img-holder img{display:block;}
.block .btn-holder{padding:0 0 30px;}
.public .block .btn-holder {padding:5px 0 31px;}
.btn-big{
	float:left;
	padding:0 10px;
	color:#fff;
	text-transform:uppercase;
	font-size:14px;
	line-height:30px;
	height:30px;
	background:url(../images/btn2.gif) repeat-x;
}
.public .btn-big {
	padding:0 17px;
}
.btn-big:hover{
	background-position:0 100%;
	text-decoration:none;
}
.subscript-form fildset{
	overflow:hidden;
	width:100%;
}
.subscript-form .row{
	overflow:hidden;
	height:1%;
}
.subscript-form .col{
	float:left;
	padding:0 0 20px 0;
}
* html .subscript-form .col {margin: 0 -3px 0 0;}
.subscript-form .col label{
	font-size:12px;
	line-height:14px;
	color:#787873;
	text-transform:uppercase;
	float:left;
	margin:0 0 10px;
}
.subscript-form .col select{
	width:55px;
	margin:0;
	float:left;
	clear:both;
	font:11px Arial, Helvetica, sans-serif;
}
.subscript-form .btn-submit{
	background:url(../images/btn1.gif) repeat-x;
	padding:0 0 3px;
	width:120px;
	color:#fff;
	border:none;
	margin:9px 0 0 20px;
	display: inline;
}
.subscript-form .btn-submit.hover,
.subscript-form .btn-submit:hover{
	background-position:0 100%;
	color:#fff;
}
.mark-red{color:#963241;}
.results{
	overflow:hidden;
	width:100%;
	color:#646464;
	margin:0 0 25px;
}
.results .item{
	overflow:hidden;
	height:1%;
	padding:20px 0;
	border-bottom:1px solid #646464;
}
.search .results .item {
	padding:20px 0 26px;
}
#content .results h4{
	font-size:28px;
	line-height:30px;
	color:#963241;
	font-weight:normal;
	margin:0;
}
#content .results h4 a:hover{
	color:#323232;
	text-decoration:none;
}
#content .results p{
	margin:0;
	padding:0;
}
.search .main-search{margin:-23px 0 29px;}
.main-search{margin:0 0 30px;}
.main-search fieldset{width:321px !important;}
.main-search input{width:311px;}
.search1{width:78px !important;}
.lightbox{
	width:623px;
	z-index:99;
}
.lightbox .b,
.lightbox .t{
	overflow:hidden;
	width:100%;
	height:6px;
	background:url(../images/bg-lightbox-t.png) no-repeat;
}
.lightbox .b{
	background:url(../images/bg-lightbox-b.png) no-repeat;
	height:14px;
}
.lightbox .c{
	padding:0 7px 0 1px;
	background:url(../images/bg-lightbox-c.png) repeat-y;
	overflow:hidden;
	width:615px;
}
.lightbox .holder{
	overflow:hidden;
	min-height:374px;
	padding:24px 40px 26px;
	background:url(../images/bg-lightbox-holder.gif) repeat-x 0 100%;
}
* html .lightbox .holder{
	height:374px;
	overflow:visible;
}
.lightbox p{margin:0;}
.lightbox .main-ttl{height:auto !important;}
.lightbox .main-ttl p{
	font-size:38px !important;
	line-height:40px !important;
	padding:7px 0 27px 69px !important;
	border-bottom:6px solid #d7d7d2;
}
.lightbox .btn-big{float:right;}
.btn-close{
	position:absolute;
	top:-10px;
	right:-10px;
	width:32px;
	height:32px;
	text-indent:-9999px;
	overflow:hidden;
	cursor:pointer;
}
.btn-close span{
	display:block;
	height:100%;
	background:url(../images/btn-lightbox-close.png) no-repeat;
}
#footer{
	text-align:center;
	padding:5px 0 0;
	background:#d7d7d2;
	width:996px;
	height: 30px;
	margin: -34px auto 0;
	position: relative;
	color: #282828;
}
#footer span{
	font-size:16px;
	line-height:16px;
	text-transform:uppercase;
	word-spacing: -1px;
}