.subheader a {
text-decoration: none;
}

.form-left div.ez-checkbox {
  position:absolute;
}

.form-left div label{
  margin:4px 0 0 45px;
}

.row{
  position: static;
}
#nav{
  bottom:20px;
}
ul.lang_sub li{
  margin:0px;  
}

ul.lang_sub{
  padding:6px 0 6px 19px;
}
#scrollWindow {
  overflow:hidden;
}

.media-carousel ul li{
  height:319px;
}
.home .row .contact {
  width:235px;
}

/*IE9 empty sidebar bug*/
.aside-r {
  font-size:0px;
  line-height:0px\9;
}

#main .main-ttl h2 {
  padding:5px 0 0;
}
.main-ttl {
  height:auto;
}
.ttl-holder img {
  margin:0px;
}
.JesperKCV td{
  min-width:113px;
}
.caroufredsel_wrapper ul.carousel{
  padding:0px;
}
.newsList{
  padding-left:0px;
}









/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
.red {
color:#cc0033;
}

.BigRed {
color: #cc0033 !important; font-size: 28px !important; font-style: italic !important; line-height: 33px !important;
}

.subheader {
font-size:32px;
color:#323232;
line-height:42px;
margin-bottom:0px;
display:block;
}

.normalred {
color:#cc0033;
}

h3 {

}

