
@import
  'responsive/variables';

@import
  'libs/normalize',
  'libs/framework-bootstrap',
  'libs/plugins',
  'libs/offcanvas';



body{
  color: $colorBlack;
  font-family: Georgia, "Times New Roman", serif;
  background: url(../images/bg-body_new.gif) bottom center repeat-x;
}

a:focus, a:hover{
  text-decoration: none!important;
}


.canvas{
  overflow:hidden;

}

@import 'responsive/head';

@import 'responsive/cases';

@import 'responsive/article-media';
@import 'responsive/article-content';
